<a href="https://colab.research.google.com/github/UznetDev/Data-science-home-work/blob/main/02_Okt_2024_home_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from scipy import stats
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

Kendall-Tau va Point-Biserial

In [25]:
def kendall_tau(x, y):
    ln = len(x)
    assert len(y) == ln, "Both arrays must have the same length"

    c = 0
    d = 0

    for i in range(ln - 1):
        for j in range(i + 1, ln):
            if (x[i] - x[j]) * (y[i] - y[j]) > 0:
                c += 1
            elif (x[i] - x[j]) * (y[i] - y[j]) < 0:
                d += 1
    return (c - d) / (0.5 * ln * (ln - 1))

In [42]:
def point_biserial(x, y):
    ln = len(x)
    assert len(y) == ln, "arrays must have the same length"
    y1 = y[x == 1]
    y0 = y[x == 0]
    mean_y1 = np.mean(y1)
    mean_y0 = np.mean(y0)
    s_y = np.std(y, ddof=1)
    n1 = len(y1)
    n0 = len(y0)
    return ((mean_y1 - mean_y0) / s_y) * np.sqrt((n1 * n0) / ln**2)

In [8]:
df.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

Kendall-Tau

In [30]:
df['Fare'].corr(df['Age'], method='kendall')

0.09324890720383931

In [31]:
kendall_tau(df['Fare'], df['Age'])

0.058853201175298554

In [32]:
kendall_tau(df['Age'], df['Fare'])

0.058853201175298554

Point-Biserial

In [44]:
r_value, p_value = stats.pointbiserialr(df['Fare'], df['Survived'])


print(f"p-value: {p_value}")
print(f"r-value: {r_value}")

p-value: 6.120189341924608e-15
r-value: 0.2573065223849624

In [47]:
point_biserial(df['Survived'],df['Fare'])

0.2571620898603152