<a href="https://colab.research.google.com/github/UznetDev/Data-science-home-work/blob/main/08_Okt_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [154]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import plotly.express as px
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import seaborn as sns
import plotly.figure_factory as ff
from plotly.subplots import make_subplots
import seaborn as sns

In [155]:
df = pd.read_csv('/content/Airline Dataset Updated - v2.csv')
df.head(1)

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status
0,ABVWIg,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Fransisco Hazeldine,On Time

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98619 entries, 0 to 98618
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Passenger ID          98619 non-null  object
 1   First Name            98619 non-null  object
 2   Last Name             98619 non-null  object
 3   Gender                98619 non-null  object
 4   Age                   98619 non-null  int64
 5   Nationality           98619 non-null  object
 6   Airport Name          98619 non-null  object
 7   Airport Country Code  98619 non-null  object
 8   Country Name          98619 non-null  object
 9   Airport Continent     98619 non-null  object
 10  Continents            98619 non-null  object
 11  Departure Date        98619 non-null  object
 12  Arrival Airport       98619 non-null  object
 13  Pilot Name            98619 non-null  object
 14  Flight Status         98619 non-null  object
dtypes: int64(1), object(14)
memory usage: 11.3+ MB

In [157]:
df.groupby(['Pilot Name', 'Departure Date'])['Passenger ID'].\
count().reset_index().sort_values(by='Passenger ID', ascending=False)

               Pilot Name Departure Date  Passenger ID
0          Aaren Cheesman      4/24/2022             1
65682    Maurene Stirgess     07-10-2022             1
65752     Maurita Jakeman      3/19/2022             1
65751    Maurita Iacavone     08-11-2022             1
65750      Maurita Edowes     02-03-2022             1
...                   ...            ...           ...
32870     Eugenia Peatman      2/24/2022             1
32869      Eugenia Miguel      6/14/2022             1
32868  Eugenia Martellini     02-10-2022             1
32867      Eugenia Inseal     10/30/2022             1
98618    Zuzana Warwicker     12-05-2022             1

[98619 rows x 3 columns]

In [158]:
df.groupby(['Pilot Name', 'Departure Date'])['Passenger ID'].\
count().reset_index().sort_values(by='Passenger ID', ascending=True)

               Pilot Name Departure Date  Passenger ID
0          Aaren Cheesman      4/24/2022             1
65751    Maurita Iacavone     08-11-2022             1
65750      Maurita Edowes     02-03-2022             1
65749     Maurita Durrett     10-04-2022             1
65748      Maurita Bristo      2/15/2022             1
...                   ...            ...           ...
32868  Eugenia Martellini     02-10-2022             1
32867      Eugenia Inseal     10/30/2022             1
32866     Eugenia Hargate     07-07-2022             1
32936          Eula Dancy      5/18/2022             1
98618    Zuzana Warwicker     12-05-2022             1

[98619 rows x 3 columns]

In [159]:
df.groupby(['Pilot Name', 'Departure Date', 'Continents', 'Country Name'])['Passenger ID'].\
count().reset_index().sort_values(by='Passenger ID', ascending=True).shape

(98619, 5)

In [160]:
df['Pilot Name'].unique().shape

(98605,)

In [161]:
df['Pilot Name'] = df['Pilot Name'].drop_duplicates()

In [162]:
df['Pilot Name'].unique().shape

(98606,)

In [163]:
df = df.drop_duplicates(subset=['Passenger ID'])

In [164]:
df['Flight Status'].unique()

array(['On Time', 'Delayed', 'Cancelled'], dtype=object)

In [165]:
df['target'] = df['Flight Status'].agg(lambda x: 1 if x == 'Cancelled' else 0)

<ipython-input-165-bd4814b990e5>:1: FutureWarning:

using <function <lambda> at 0x78dd9cb631c0> in Series.agg cannot aggregate and has been deprecated. Use Series.transform to keep behavior unchanged.

In [166]:
df['target'].value_counts()

target
0    65677
1    32942
Name: count, dtype: int64

In [167]:
new_df = df.drop(['First Name', 'Last Name', 'Pilot Name'], axis=1)


new_df['Departure Date'] = new_df['Departure Date'].str.replace('-', '/')
new_df['Departure Date'] = pd.to_datetime(new_df['Departure Date'], errors='coerce')
new_df['weekday'] = new_df['Departure Date'].dt.weekday
new_df['day'] = new_df['Departure Date'].dt.day
new_df['month'] = new_df['Departure Date'].dt.month
new_df['year'] = new_df['Departure Date'].dt.year

In [168]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98619 entries, 0 to 98618
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Passenger ID          98619 non-null  object
 1   Gender                98619 non-null  object
 2   Age                   98619 non-null  int64
 3   Nationality           98619 non-null  object
 4   Airport Name          98619 non-null  object
 5   Airport Country Code  98619 non-null  object
 6   Country Name          98619 non-null  object
 7   Airport Continent     98619 non-null  object
 8   Continents            98619 non-null  object
 9   Departure Date        98619 non-null  datetime64[ns]
 10  Arrival Airport       98619 non-null  object
 11  Flight Status         98619 non-null  object
 12  target                98619 non-null  int64
 13  weekday               98619 non-null  int32
 14  day                   98619 non-null  int32
 15  month                 98619 non-null  int32
 16  year                  98619 non-null  int32
dtypes: datetime64[ns](1), int32(4), int64(2), object(10)
memory usage: 11.3+ MB

In [173]:
new_df.groupby('month')['target'].value_counts(normalize=True)

month  target
1      0         0.673598
       1         0.326402
2      0         0.664837
       1         0.335163
3      0         0.670739
       1         0.329261
4      0         0.667672
       1         0.332328
5      0         0.665019
       1         0.334981
6      0         0.660925
       1         0.339075
7      0         0.668678
       1         0.331322
8      0         0.664794
       1         0.335206
9      0         0.660572
       1         0.339428
10     0         0.667617
       1         0.332383
11     0         0.667453
       1         0.332547
12     0         0.659011
       1         0.340989
Name: proportion, dtype: float64

In [170]:
df

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status,target
0,ABVWIg,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Fransisco Hazeldine,On Time,0
1,jkXXAX,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,12/26/2022,YCO,Marla Parsonage,On Time,0
2,CdUz2g,Darby,Felgate,Male,67,Russia,Grenoble-Isère Airport,FR,France,EU,Europe,1/18/2022,GNB,Rhonda Amber,On Time,0
3,BRS38V,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,9/16/2022,YND,Kacie Commucci,Delayed,0
4,9kvTLo,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Ebonee Tree,On Time,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98614,hnGQ62,Gareth,Mugford,Male,85,China,Hasvik Airport,NO,Norway,EU,Europe,12-11-2022,HAA,Pammie Kingscote,Cancelled,1
98615,2omEzh,Kasey,Benedict,Female,19,Russia,Ampampamena Airport,MG,Madagascar,AF,Africa,10/30/2022,IVA,Dorice Lochran,Cancelled,1
98616,VUPiVG,Darrin,Lucken,Male,65,Indonesia,Albacete-Los Llanos Airport,ES,Spain,EU,Europe,09-10-2022,ABC,Gearalt Main,On Time,0
98617,E47NtS,Gayle,Lievesley,Female,34,China,Gagnoa Airport,CI,Côte d'Ivoire,AF,Africa,10/26/2022,GGN,Judon Chasle,Cancelled,1
98618,8JYEcz,Wilhelmine,Touret,Female,10,Poland,Yoshkar-Ola Airport,RU,Russian Federation,EU,Europe,4/16/2022,JOK,Auguste Tindley,Delayed,0

In [177]:
my_df = new_df.groupby('Gender')['target'].value_counts().unstack()

In [181]:
my_df

target      0      1
Gender
Female  32569  16452
Male    33108  16490

In [183]:
my_df['Persentage event'] = my_df[0] / sum(my_df[0])

In [185]:
my_df['Persentage non event'] = my_df[1] / sum(my_df[1])

In [188]:
my_df['WOE'] = np.log(my_df['Persentage event'] / my_df['Persentage non event'])

In [191]:
my_df[1] / my_df[0]

Gender
Female    0.505143
Male      0.498067
dtype: float64