<a href="https://colab.research.google.com/github/UznetDev/Data-science-home-work/blob/main/16_Avg_2024_home_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# Set-up
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [9]:
import pandas as pd
import numpy as np
from sklearn.metrics import *
from sklearn.model_selection import *
from sklearn.linear_model import *
from sklearn.datasets import *

In [10]:
# Load the California Housing dataset and save it as CSV
california_housing = fetch_california_housing(as_frame=True)
df = california_housing.frame
df.to_csv('Dataset.csv', index=False)

# Open and load the CSV into a pandas DataFrame
with open('Dataset.csv') as f:
    california = pd.read_csv(f, encoding='unicode_escape')

# Drop the table if it exists, then persist the DataFrame to the SQL database
%sql DROP TABLE IF EXISTS california;
%sql --persist california

 * sqlite://
Done.
 * sqlite://

'Persisted california'

In [11]:
%%sql SELECT * FROM california LIMIT 5

 * sqlite://
Done.

[(0, 8.3252, 41.0, 6.984126984126984, 1.0238095238095235, 322.0, 2.555555555555556, 37.88, -122.23, 4.526),
 (1, 8.3014, 21.0, 6.238137082601054, 0.9718804920913884, 2401.0, 2.109841827768014, 37.86, -122.22, 3.585),
 (2, 7.2574, 52.0, 8.288135593220339, 1.073446327683616, 496.0, 2.8022598870056497, 37.85, -122.24, 3.521),
 (3, 5.6431, 52.0, 5.817351598173516, 1.0730593607305936, 558.0, 2.547945205479452, 37.85, -122.25, 3.413),
 (4, 3.8462, 52.0, 6.281853281853282, 1.0810810810810811, 565.0, 2.1814671814671813, 37.85, -122.25, 3.422)]

In [12]:
%%sql SELECT * FROM
california LIMIT 5;

 * sqlite://
Done.

[(0, 8.3252, 41.0, 6.984126984126984, 1.0238095238095235, 322.0, 2.555555555555556, 37.88, -122.23, 4.526),
 (1, 8.3014, 21.0, 6.238137082601054, 0.9718804920913884, 2401.0, 2.109841827768014, 37.86, -122.22, 3.585),
 (2, 7.2574, 52.0, 8.288135593220339, 1.073446327683616, 496.0, 2.8022598870056497, 37.85, -122.24, 3.521),
 (3, 5.6431, 52.0, 5.817351598173516, 1.0730593607305936, 558.0, 2.547945205479452, 37.85, -122.25, 3.413),
 (4, 3.8462, 52.0, 6.281853281853282, 1.0810810810810811, 565.0, 2.1814671814671813, 37.85, -122.25, 3.422)]

In [13]:
%%sql SELECT `HouseAge`, `index`, `Latitude`, `Longitude`  FROM
`california` LIMIT 5;

 * sqlite://
Done.

[(41.0, 0, 37.88, -122.23),
 (21.0, 1, 37.86, -122.22),
 (52.0, 2, 37.85, -122.24),
 (52.0, 3, 37.85, -122.25),
 (52.0, 4, 37.85, -122.25)]

In [14]:
# Read datasets from CSV files
films = pd.read_csv('films.csv', header=None)
films = films.rename(columns={0: 'id',
                              1: 'title',
                              2: 'releas_date',
                              3: 'country',
                              4: 'duratioon',
                              5: 'language',
                              6: 'certificatipon',
                              7: 'gross',
                              8: 'budget'})
reviews = pd.read_csv('reviews.csv', header=None)
reviews = reviews.rename(columns={0: 'id',
                                  1: 'film_id',
                                  2: 'num_user',
                                  3: 'num_critic',
                                  4: 'imdb_score',
                                  5: 'num_votes',
                                  6: 'facebook_likes'})
people = pd.read_csv('people.csv', header=None)
people = people.rename(columns={0: 'id',
                                1: 'name',
                                2: 'birthdate',
                                3: 'deathdate'})
roles = pd.read_csv('roles.csv', header=None)
roles = roles.rename(columns={0: 'id',
                              1: 'film_id',
                              2: 'person_id',
                              3: 'role'})

# Drop tables if they exist, then persist the DataFrames to the SQL database
%sql DROP TABLE IF EXISTS films;
%sql --persist films

%sql DROP TABLE IF EXISTS reviews;
%sql --persist reviews

%sql DROP TABLE IF EXISTS people;
%sql --persist people

%sql DROP TABLE IF EXISTS roles;
%sql --persist roles

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://

'Persisted roles'

In [15]:
%%sql select * from films limit 2

 * sqlite://
Done.

[(0, 1, "Intolerance: Love's Struggle Throughout the Ages", 1916.0, 'USA', 123.0, None, 'Not Rated', None, 385907.0),
 (1, 2, 'Over the Hill to the Poorhouse', 1920.0, 'USA', 110.0, None, None, 3000000.0, 100000.0)]

In [16]:
%%sql select * from reviews limit 2

 * sqlite://
Done.

[(0, 3934, 588.0, 432.0, 7.0999999, 203461, 46000),
 (1, 3405, 285.0, 267.0, 6.4000001, 149998, 0)]

In [17]:
%%sql select * from people limit 2

 * sqlite://
Done.

[(0, 1, '50 Cent', '1975-07-06', None),
 (1, 2, 'A. Michael Baldwin', '1963-04-04', None)]

In [18]:
%%sql select * from roles limit 2

 * sqlite://
Done.

[(0, 1, 1, 1630, 'director'), (1, 2, 1, 4843, 'actor')]

In [19]:
%%sql select * from films as fm
inner join reviews as rv
on fm.id = rv.film_id
inner join roles as rl
on fm.id = rl.film_id
inner join people as ps
on rl.person_id = ps.id
limit 2

 * sqlite://
Done.

[(0, 1, "Intolerance: Love's Struggle Throughout the Ages", 1916.0, 'USA', 123.0, None, 'Not Rated', None, 385907.0, 63, 3016, 1.0, 5.0, 7.4000001, 59, 18, 0, 1, 1, 1630, 'director', 1629, 1630, 'D.W. Griffith', '1875-01-22', '1948-07-23'),
 (0, 1, "Intolerance: Love's Struggle Throughout the Ages", 1916.0, 'USA', 123.0, None, 'Not Rated', None, 385907.0, 63, 3016, 1.0, 5.0, 7.4000001, 59, 18, 1, 2, 1, 4843, 'actor', 4842, 4843, 'Lillian Gish', '1893-10-14', '1993-02-27')]

In [20]:
%%sql SELECT COUNT(*) FROM people;

 * sqlite://
Done.

[(8397,)]

In [21]:
%%sql select count(DISTINCT birthdate) from people;

 * sqlite://
Done.

[(5398,)]

In [22]:
%%sql SELECT * FROM films
WHERE releas_date BETWEEN '1960.0' AND '1970.0'

 * sqlite://
Done.

[(74, 75, 'Elmer Gantry', 1960.0, 'USA', 146.0, 'English', 'Approved', None, 3000000.0),
 (75, 76, 'Psycho', 1960.0, 'USA', 108.0, 'English', 'R', 32000000.0, 806947.0),
 (76, 77, 'The Apartment', 1960.0, 'USA', 125.0, 'English', 'Approved', None, 3000000.0),
 (77, 78, 'Judgment at Nuremberg', 1961.0, 'USA', 186.0, 'English', 'Not Rated', None, 3000000.0),
 (78, 79, 'Pocketful of Miracles', 1961.0, 'USA', 136.0, 'English', 'Approved', None, 2900000.0),
 (79, 80, 'The Hustler', 1961.0, 'USA', 134.0, 'English', 'Unrated', None, 2000000.0),
 (80, 81, 'The Misfits', 1961.0, 'USA', 120.0, 'English', 'Approved', None, 4000000.0),
 (81, 82, 'West Side Story', 1961.0, 'USA', 152.0, 'English', 'Unrated', 43650000.0, 6000000.0),
 (82, 83, 'Dr. No', 1962.0, 'UK', 110.0, 'English', 'Approved', 16067035.0, 1100000.0),
 (83, 84, 'Lawrence of Arabia', 1962.0, 'UK', 227.0, 'English', 'PG', 6000000.0, 15000000.0),
 (84, 85, 'Lolita', 1962.0, 'UK', 152.0, 'English', 'Not Rated', None, 2000000.0),
 (85, 86, 'Lolita', 1962.0, 'UK', 152.0, 'English', 'Not Rated', None, 2000000.0),
 (86, 87, "The Brain That Wouldn't Die", 1962.0, 'USA', 70.0, 'English', 'Approved', None, 62000.0),
 (87, 88, 'The Longest Day', 1962.0, 'USA', 178.0, 'English', 'G', None, 10000000.0),
 (88, 89, 'The Man Who Shot Liberty Valance', 1962.0, 'USA', 113.0, 'English', 'Approved', None, 3200000.0),
 (89, 90, 'To Kill a Mockingbird', 1962.0, 'USA', 129.0, 'English', 'Not Rated', None, 2000000.0),
 (90, 91, '55 Days at Peking', 1963.0, 'USA', 154.0, 'English', 'Unrated', None, 9000000.0),
 (91, 92, 'Cleopatra', 1963.0, 'UK', 251.0, 'English', 'Approved', 57750000.0, 31115000.0),
 (92, 93, "Donovan's Reef", 1963.0, 'USA', 109.0, 'English', 'Not Rated', None, 2686585.0),
 (93, 94, 'From Russia with Love', 1963.0, 'UK', 115.0, 'English', 'Approved', 24800000.0, 2000000.0),
 (94, 95, 'Hud', 1963.0, 'USA', 112.0, 'English', 'Approved', None, 2500000.0),
 (95, 96, "It's a Mad, Mad, Mad, Mad World", 1963.0, 'USA', 197.0, 'English', 'Approved', 46300000.0, 9400000.0),
 (96, 97, 'The Great Escape', 1963.0, 'USA', 172.0, 'English', 'Approved', None, 4000000.0),
 (97, 98, 'Tom Jones', 1963.0, 'UK', 121.0, 'English', 'Unrated', None, 1000000.0),
 (98, 99, 'A Fistful of Dollars', 1964.0, 'Italy', 99.0, 'Italian', 'R', 3500000.0, 200000.0),
 (99, 100, "A Hard Day's Night", 1964.0, 'UK', 87.0, 'English', 'Approved', 515005.0, 560000.0),
 (100, 101, 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb', 1964.0, 'USA', 95.0, 'English', 'PG', None, 1800000.0),
 (101, 102, 'Goldfinger', 1964.0, 'UK', 110.0, 'English', 'Approved', 51100000.0, 3000000.0),
 (102, 103, 'Mary Poppins', 1964.0, 'USA', 139.0, 'English', 'Approved', 102300000.0, 6000000.0),
 (103, 104, 'My Fair Lady', 1964.0, 'USA', 170.0, 'English', 'Approved', 72000000.0, 17000000.0),
 (104, 105, 'Nothing But a Man', 1964.0, 'USA', 95.0, 'English', 'Not Rated', 12438.0, 160000.0),
 (105, 106, 'The Fall of the Roman Empire', 1964.0, 'USA', 172.0, 'English', 'Approved', None, 19000000.0),
 (106, 107, 'The Train', 1964.0, 'France', 133.0, 'English', 'Unrated', None, 6700000.0),
 (107, 108, 'Une Femme MariÃ©e', 1964.0, 'France', 94.0, 'French', None, None, 120000.0),
 (108, 109, 'Doctor Zhivago', 1965.0, 'USA', 200.0, 'English', 'PG-13', 111722000.0, 11000000.0),
 (109, 110, 'Major Dundee', 1965.0, 'USA', 152.0, 'English', 'Approved', 14873.0, 3800000.0),
 (110, 111, 'Pierrot le Fou', 1965.0, 'France', 110.0, 'French', 'Not Rated', None, 300000.0),
 (111, 112, 'The Greatest Story Ever Told', 1965.0, 'USA', 225.0, 'English', 'G', 8000000.0, 20000000.0),
 (112, 113, "The Party's Over", 1965.0, 'UK', 94.0, 'English', None, None, None),
 (113, 114, 'The Sound of Music', 1965.0, 'USA', 174.0, 'English', 'G', 163214286.0, 8200000.0),
 (114, 115, 'Thunderball', 1965.0, 'UK', 130.0, 'English', 'Approved', 63600000.0, 9000000.0),
 (115, 116, 'A Funny Thing Happened on the Way to the Forum', 1966.0, 'USA', 99.0, 'English', 'Approved', None, 2000000.0),
 (116, 117, 'A Man for All Seasons', 1966.0, 'UK', 120.0, 'English', 'Approved', None, 2000000.0),
 (117, 118, 'Batman: The Movie', 1966.0, 'USA', 105.0, 'English', 'Approved', None, 1377800.0),
 (118, 119, 'Harper', 1966.0, 'USA', 121.0, 'English', 'Not Rated', None, 3500000.0),
 (119, 120, 'The Good, the Bad and the Ugly', 1966.0, 'Italy', 142.0, 'Italian', 'Approved', 6100000.0, 1200000.0),
 (120, 121, 'Torn Curtain', 1966.0, 'USA', 128.0, 'English', 'Approved', None, 6000000.0),
 (121, 122, 'In Cold Blood', 1967.0, 'USA', 134.0, 'English', 'Approved', None, 3500000.0),
 (122, 123, 'Point Blank', 1967.0, 'USA', 92.0, 'English', 'Approved', None, 3000000.0),
 (123, 124, 'The Torture Chamber of Dr. Sadism', 1967.0, 'West Germany', 80.0, 'German', 'M', None, None),
 (124, 125, 'You Only Live Twice', 1967.0, 'UK', 117.0, 'English', 'Approved', 43100000.0, 9500000.0),
 (125, 126, '2001: A Space Odyssey', 1968.0, 'UK', 161.0, 'English', 'G', 56715371.0, 12000000.0),
 (126, 127, 'Barbarella', 1968.0, 'France', 98.0, 'English', 'PG', None, 9000000.0),
 (127, 128, 'Charly', 1968.0, 'USA', 103.0, 'English', 'PG', None, None),
 (128, 129, "Hang 'Em High", 1968.0, 'USA', 114.0, 'English', 'M', None, 1800000.0),
 (129, 130, 'Night of the Living Dead', 1968.0, 'USA', 96.0, 'English', 'Unrated', None, 114000.0),
 (130, 131, 'Night of the Living Dead', 1968.0, 'USA', 96.0, 'English', 'Unrated', None, 114000.0),
 (131, 132, 'Oliver!', 1968.0, 'UK', 153.0, 'English', 'G', 16800000.0, 10000000.0),
 (132, 133, 'Once Upon a Time in the West', 1968.0, 'Italy', 145.0, 'English', 'PG-13', None, 5000000.0),
 (133, 134, "Rosemary's Baby", 1968.0, 'USA', 136.0, 'English', 'R', None, 2300000.0),
 (134, 135, 'Shalako', 1968.0, 'UK', 113.0, 'English', 'PG', None, 1455000.0),
 (135, 136, 'Yours, Mine and Ours', 1968.0, 'USA', 111.0, 'English', 'Unrated', None, 2500000.0),
 (136, 137, 'Butch Cassidy and the Sundance Kid', 1969.0, 'USA', 110.0, 'English', 'M', 102308900.0, 6000000.0),
 (137, 138, 'Machine Gun McCain', 1969.0, 'Italy', 96.0, 'English', 'GP', None, None),
 (138, 139, 'Midnight Cowboy', 1969.0, 'USA', 113.0, 'English', 'X', None, 3600000.0),
 (139, 140, 'Mississippi Mermaid', 1969.0, 'France', 123.0, 'French', 'R', 26893.0, 1600000.0),
 (140, 141, "On Her Majesty's Secret Service", 1969.0, 'UK', 142.0, 'English', 'M', 22800000.0, 7000000.0),
 (141, 142, 'Paint Your Wagon', 1969.0, 'USA', 158.0, 'English', 'PG-13', None, 20000000.0),
 (142, 143, 'Sweet Charity', 1969.0, 'USA', 154.0, 'English', 'G', None, 20000000.0),
 (143, 144, 'The Stewardesses', 1969.0, 'USA', 93.0, 'English', 'X', None, 100000.0),
 (144, 145, 'The Wild Bunch', 1969.0, 'USA', 144.0, 'English', 'R', None, 6244087.0),
 (145, 146, 'Topaz', 1969.0, 'USA', 127.0, 'English', 'M', None, 4000000.0),
 (146, 147, 'Beneath the Planet of the Apes', 1970.0, 'USA', 95.0, 'English', 'G', None, 3000000.0),
 (147, 148, 'Beyond the Valley of the Dolls', 1970.0, 'USA', 109.0, 'English', 'X', 9000000.0, 900000.0),
 (148, 149, 'Catch-22', 1970.0, 'USA', 122.0, 'English', 'R', None, 18000000.0),
 (149, 150, 'Cotton Comes to Harlem', 1970.0, 'USA', 97.0, 'English', 'R', None, 1200000.0),
 (150, 151, 'Darling Lili', 1970.0, 'USA', 143.0, 'English', 'G', 5000000.0, 25000000.0),
 (151, 152, 'Patton', 1970.0, 'USA', 172.0, 'English', 'GP', None, 12000000.0),
 (152, 153, 'The Ballad of Cable Hogue', 1970.0, 'USA', 121.0, 'English', 'R', None, 3716946.0),
 (153, 154, 'The Conformist', 1970.0, 'Italy', 106.0, 'Italian', 'R', None, 750000.0),
 (154, 155, 'The Molly Maguires', 1970.0, 'USA', 124.0, 'English', 'PG', None, 11000000.0),
 (155, 156, 'Tora! Tora! Tora!', 1970.0, 'Japan', 160.0, 'English', 'G', 14500000.0, 25000000.0),
 (156, 157, 'Waterloo', 1970.0, 'Italy', 134.0, 'English', 'G', None, 25000000.0),
 (157, 158, 'Woodstock', 1970.0, 'USA', 215.0, 'English', 'R', 13300000.0, 600000.0)]

In [23]:
%%sql SELECT * FROM films
WHERE releas_date = '1960.0';

 * sqlite://
Done.

[(74, 75, 'Elmer Gantry', 1960.0, 'USA', 146.0, 'English', 'Approved', None, 3000000.0),
 (75, 76, 'Psycho', 1960.0, 'USA', 108.0, 'English', 'R', 32000000.0, 806947.0),
 (76, 77, 'The Apartment', 1960.0, 'USA', 125.0, 'English', 'Approved', None, 3000000.0)]

In [24]:
%%sql SELECT * FROM films
WHERE country = 'USA'
LIMIT 5;

 * sqlite://
Done.

[(0, 1, "Intolerance: Love's Struggle Throughout the Ages", 1916.0, 'USA', 123.0, None, 'Not Rated', None, 385907.0),
 (1, 2, 'Over the Hill to the Poorhouse', 1920.0, 'USA', 110.0, None, None, 3000000.0, 100000.0),
 (2, 3, 'The Big Parade', 1925.0, 'USA', 151.0, None, 'Not Rated', None, 245000.0),
 (5, 6, 'The Broadway Melody', 1929.0, 'USA', 100.0, 'English', 'Passed', 2808000.0, 379000.0),
 (6, 7, "Hell's Angels", 1930.0, 'USA', 96.0, 'English', 'Passed', None, 3950000.0)]