<a href="https://colab.research.google.com/github/UznetDev/Data-science-home-work/blob/main/16_Avg_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# Set-up
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
import pandas as pd
import numpy as np
from sklearn.metrics import *
from sklearn.model_selection import *
from sklearn.linear_model import *
from sklearn.datasets import *

In [10]:
# Load the California Housing dataset and save it as CSV
california_housing = fetch_california_housing(as_frame=True)
df = california_housing.frame
df.to_csv('Dataset.csv', index=False)

# Open and load the CSV into a pandas DataFrame
with open('Dataset.csv') as f:
    california = pd.read_csv(f, encoding='unicode_escape')

# Drop the table if it exists, then persist the DataFrame to the SQL database
%sql DROP TABLE IF EXISTS california;
%sql --persist california

 * sqlite://
Done.
 * sqlite://

'Persisted california'

In [12]:
%%sql SELECT * FROM california LIMIT 5

 * sqlite://
Done.

[(0, 8.3252, 41.0, 6.984126984126984, 1.0238095238095235, 322.0, 2.555555555555556, 37.88, -122.23, 4.526),
 (1, 8.3014, 21.0, 6.238137082601054, 0.9718804920913884, 2401.0, 2.109841827768014, 37.86, -122.22, 3.585),
 (2, 7.2574, 52.0, 8.288135593220339, 1.073446327683616, 496.0, 2.8022598870056497, 37.85, -122.24, 3.521),
 (3, 5.6431, 52.0, 5.817351598173516, 1.0730593607305936, 558.0, 2.547945205479452, 37.85, -122.25, 3.413),
 (4, 3.8462, 52.0, 6.281853281853282, 1.0810810810810811, 565.0, 2.1814671814671813, 37.85, -122.25, 3.422)]