<a href="https://colab.research.google.com/github/UznetDev/Data-science-home-work/blob/main/20_Avg_2024_home_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Set-up
%load_ext sql
%sql sqlite://

In [3]:
import pandas as pd

In [4]:
# Read datasets from CSV files
films = pd.read_csv('films.csv', header=None)
films = films.rename(columns={0: 'id',
                              1: 'title',
                              2: 'releas_date',
                              3: 'country',
                              4: 'duratioon',
                              5: 'language',
                              6: 'certificatipon',
                              7: 'gross',
                              8: 'budget'})
reviews = pd.read_csv('reviews.csv', header=None)
reviews = reviews.rename(columns={0: 'id',
                                  1: 'film_id',
                                  2: 'num_user',
                                  3: 'num_critic',
                                  4: 'imdb_score',
                                  5: 'num_votes',
                                  6: 'facebook_likes'})
people = pd.read_csv('people.csv', header=None)
people = people.rename(columns={0: 'id',
                                1: 'name',
                                2: 'birthdate',
                                3: 'deathdate'})
roles = pd.read_csv('roles.csv', header=None)
roles = roles.rename(columns={0: 'id',
                              1: 'film_id',
                              2: 'person_id',
                              3: 'role'})

# Drop tables if they exist, then persist the DataFrames to the SQL database
%sql DROP TABLE IF EXISTS films;
%sql --persist films

%sql DROP TABLE IF EXISTS reviews;
%sql --persist reviews

%sql DROP TABLE IF EXISTS people;
%sql --persist people

%sql DROP TABLE IF EXISTS roles;
%sql --persist roles

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://

'Persisted roles'

In [5]:
%%sql SELECT * FROM films LIMIT 1;

 * sqlite://
Done.

[(0, 1, "Intolerance: Love's Struggle Throughout the Ages", 1916.0, 'USA', 123.0, None, 'Not Rated', None, 385907.0)]

In [6]:
%%sql SELECT * FROM reviews LIMIT 1;

 * sqlite://
Done.

[(0, 3934, 588.0, 432.0, 7.0999999, 203461, 46000)]

In [7]:
%%sql SELECT * FROM people LIMIT 1;

 * sqlite://
Done.

[(0, 1, '50 Cent', '1975-07-06', None)]

In [8]:
%%sql SELECT * FROM roles LIMIT 1;

 * sqlite://
Done.

[(0, 1, 1, 1630, 'director')]