<a href="https://colab.research.google.com/github/UznetDev/Data-science-home-work/blob/main/20_Avg_2024_home_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Set-up
%load_ext sql
%sql sqlite://

In [3]:
import pandas as pd

In [4]:
# Read datasets from CSV files
films = pd.read_csv('films.csv', header=None)
films = films.rename(columns={0: 'id',
                              1: 'title',
                              2: 'releas_date',
                              3: 'country',
                              4: 'duratioon',
                              5: 'language',
                              6: 'certificatipon',
                              7: 'gross',
                              8: 'budget'})
reviews = pd.read_csv('reviews.csv', header=None)
reviews = reviews.rename(columns={0: 'id',
                                  1: 'film_id',
                                  2: 'num_user',
                                  3: 'num_critic',
                                  4: 'imdb_score',
                                  5: 'num_votes',
                                  6: 'facebook_likes'})
people = pd.read_csv('people.csv', header=None)
people = people.rename(columns={0: 'id',
                                1: 'name',
                                2: 'birthdate',
                                3: 'deathdate'})
roles = pd.read_csv('roles.csv', header=None)
roles = roles.rename(columns={0: 'id',
                              1: 'film_id',
                              2: 'person_id',
                              3: 'role'})

# Drop tables if they exist, then persist the DataFrames to the SQL database
%sql DROP TABLE IF EXISTS films;
%sql --persist films

%sql DROP TABLE IF EXISTS reviews;
%sql --persist reviews

%sql DROP TABLE IF EXISTS people;
%sql --persist people

%sql DROP TABLE IF EXISTS roles;
%sql --persist roles

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://

'Persisted roles'

In [5]:
%%sql SELECT * FROM films LIMIT 1;

 * sqlite://
Done.

[(0, 1, "Intolerance: Love's Struggle Throughout the Ages", 1916.0, 'USA', 123.0, None, 'Not Rated', None, 385907.0)]

In [6]:
%%sql SELECT * FROM reviews LIMIT 1;

 * sqlite://
Done.

[(0, 3934, 588.0, 432.0, 7.0999999, 203461, 46000)]

In [7]:
%%sql SELECT * FROM people LIMIT 1;

 * sqlite://
Done.

[(0, 1, '50 Cent', '1975-07-06', None)]

In [8]:
%%sql SELECT * FROM roles LIMIT 1;

 * sqlite://
Done.

[(0, 1, 1, 1630, 'director')]

# SQL Exercise Questions

## Write a query to count the number of films released each year.

In [11]:
%%sql SELECT releas_date, COUNT(*) AS num_films
FROM films
GROUP BY releas_date
ORDER BY releas_date;

 * sqlite://
Done.

[(None, 42),
 (1916.0, 1),
 (1920.0, 1),
 (1925.0, 1),
 (1927.0, 1),
 (1929.0, 2),
 (1930.0, 1),
 (1932.0, 1),
 (1933.0, 2),
 (1934.0, 1),
 (1935.0, 1),
 (1936.0, 2),
 (1937.0, 2),
 (1938.0, 2),
 (1939.0, 3),
 (1940.0, 5),
 (1941.0, 1),
 (1942.0, 2),
 (1943.0, 1),
 (1944.0, 1),
 (1945.0, 4),
 (1946.0, 3),
 (1947.0, 3),
 (1948.0, 3),
 (1949.0, 2),
 (1950.0, 1),
 (1951.0, 3),
 (1952.0, 4),
 (1953.0, 4),
 (1954.0, 5),
 (1955.0, 2),
 (1956.0, 3),
 (1957.0, 2),
 (1958.0, 1),
 (1959.0, 3),
 (1960.0, 3),
 (1961.0, 5),
 (1962.0, 8),
 (1963.0, 8),
 (1964.0, 10),
 (1965.0, 7),
 (1966.0, 6),
 (1967.0, 4),
 (1968.0, 11),
 (1969.0, 10),
 (1970.0, 12),
 (1971.0, 11),
 (1972.0, 9),
 (1973.0, 9),
 (1974.0, 9),
 (1975.0, 6),
 (1976.0, 10),
 (1977.0, 16),
 (1978.0, 16),
 (1979.0, 16),
 (1980.0, 24),
 (1981.0, 33),
 (1982.0, 30),
 (1983.0, 22),
 (1984.0, 31),
 (1985.0, 29),
 (1986.0, 26),
 (1987.0, 32),
 (1988.0, 31),
 (1989.0, 33),
 (1990.0, 30),
 (1991.0, 31),
 (1992.0, 34),
 (1993.0, 48),
 (1994.0, 54),
 (1995.0, 70),
 (1996.0, 99),
 (1997.0, 118),
 (1998.0, 134),
 (1999.0, 168),
 (2000.0, 171),
 (2001.0, 188),
 (2002.0, 209),
 (2003.0, 169),
 (2004.0, 214),
 (2005.0, 221),
 (2006.0, 238),
 (2007.0, 203),
 (2008.0, 225),
 (2009.0, 260),
 (2010.0, 227),
 (2011.0, 224),
 (2012.0, 220),
 (2013.0, 236),
 (2014.0, 252),
 (2015.0, 226),
 (2016.0, 106)]

## Write a query to find the average budget of films grouped by release year.

In [12]:
%%sql SELECT releas_date, AVG(budget) AS avg_budget
FROM films
GROUP BY releas_date
ORDER BY releas_date;

 * sqlite://
Done.

[(None, 7666666.666666667),
 (1916.0, 385907.0),
 (1920.0, 100000.0),
 (1925.0, 245000.0),
 (1927.0, 6000000.0),
 (1929.0, 379000.0),
 (1930.0, 3950000.0),
 (1932.0, 800000.0),
 (1933.0, 319500.0),
 (1934.0, 325000.0),
 (1935.0, 609000.0),
 (1936.0, 1350000.0),
 (1937.0, 2000000.0),
 (1938.0, 1822368.0),
 (1939.0, 2759000.0),
 (1940.0, 1945500.0),
 (1941.0, 1250000.0),
 (1942.0, 950000.0),
 (1943.0, 2627000.0),
 (1944.0, 2361000.0),
 (1945.0, 1702125.6666666667),
 (1946.0, 4426666.666666667),
 (1947.0, 2503000.0),
 (1948.0, 3350000.0),
 (1949.0, 1300000.0),
 (1950.0, 3768785.0),
 (1951.0, 3906143.0),
 (1952.0, 2430266.6666666665),
 (1953.0, 2027500.0),
 (1954.0, 3582000.0),
 (1955.0, 1200000.0),
 (1956.0, 3166666.6666666665),
 (1957.0, 1675000.0),
 (1958.0, 3000000.0),
 (1959.0, 3794616.0),
 (1960.0, 2268982.3333333335),
 (1961.0, 3580000.0),
 (1962.0, 4420250.0),
 (1963.0, 7712698.125),
 (1964.0, 5454000.0),
 (1965.0, 8716666.666666666),
 (1966.0, 2679633.3333333335),
 (1967.0, 5333333.333333333),
 (1968.0, 4428300.0),
 (1969.0, 7616009.666666667),
 (1970.0, 10513912.166666666),
 (1971.0, 3432700.0),
 (1972.0, 2012222.2222222222),
 (1973.0, 3968420.3333333335),
 (1974.0, 4185229.3333333335),
 (1975.0, 4821595.833333333),
 (1976.0, 3838930.5555555555),
 (1977.0, 9863179.375),
 (1978.0, 11283333.333333334),
 (1979.0, 15714285.714285715),
 (1980.0, 15990909.090909092),
 (1981.0, 11861718.75),
 (1982.0, 13101724.137931034),
 (1983.0, 15875100.0),
 (1984.0, 14368548.387096774),
 (1985.0, 13513983.551724138),
 (1986.0, 14002884.615384616),
 (1987.0, 13533870.967741935),
 (1988.0, 49061290.32258064),
 (1989.0, 18359393.939393938),
 (1990.0, 32388241.379310343),
 (1991.0, 25176548.387096774),
 (1992.0, 25982030.303030305),
 (1993.0, 20729787.23404255),
 (1994.0, 29013773.58490566),
 (1995.0, 32775000.0),
 (1996.0, 31620612.244897958),
 (1997.0, 59424490.74074074),
 (1998.0, 40460000.0),
 (1999.0, 38981780.487804875),
 (2000.0, 34931375.75757576),
 (2001.0, 37687307.692307696),
 (2002.0, 32598510.68811881),
 (2003.0, 37208648.833333336),
 (2004.0, 46865344.62436548),
 (2005.0, 70323938.23152709),
 (2006.0, 93968929.57746479),
 (2007.0, 35271131.14754099),
 (2008.0, 41804885.5721393),
 (2009.0, 37073287.03703704),
 (2010.0, 46094664.948453605),
 (2011.0, 37775251.71568628),
 (2012.0, 41331819.162436545),
 (2013.0, 40519044.91549296),
 (2014.0, 35325799.126637556),
 (2015.0, 39298329.217391305),
 (2016.0, 56642741.93548387)]

## Write a query to find the total gross income for each country, but only include countries where the total gross is greater than $10,000,000.

In [13]:
%%sql SELECT country, SUM(gross) AS total_gross
FROM films
GROUP BY country
HAVING total_gross > 10000000
ORDER BY total_gross DESC;

 * sqlite://
Done.

[('USA', 179576100722.0),
 ('UK', 11808199558.0),
 ('Germany', 2462603234.0),
 ('France', 1978421823.0),
 ('Australia', 1688648202.0),
 ('Canada', 1615108801.0),
 ('New Zealand', 1298160522.0),
 ('Japan', 570412925.0),
 ('China', 268717774.0),
 ('Spain', 229749472.0),
 ('Hong Kong', 180171739.0),
 ('South Africa', 160740241.0),
 ('Taiwan', 128681364.0),
 ('Mexico', 104616255.0),
 ('Ireland', 70336300.0),
 ('Peru', 57362581.0),
 ('India', 50811269.0),
 ('Italy', 37897079.0),
 ('Hungary', 23375191.0),
 ('South Korea', 22318331.0),
 ('Argentina', 21692809.0),
 ('Romania', 18201973.0),
 ('Russia', 14959807.0),
 ('Brazil', 13562870.0),
 ('Thailand', 13011623.0),
 ('Denmark', 12766222.0),
 ('Chile', 12188642.0),
 ('West Germany', 11433134.0),
 ('Aruba', 10076136.0)]

## Write a query to find the maximum budget for films grouped by language.

In [15]:
%%sql SELECT language, MAX(budget) AS max_budget
FROM films
GROUP BY language
ORDER BY max_budget DESC;

 * sqlite://
Done.

[('Korean', 12215500000.0),
 ('Hungarian', 2500000000.0),
 ('Japanese', 2400000000.0),
 ('Spanish', 700000000.0),
 ('Hindi', 700000000.0),
 ('English', 600000000.0),
 ('Mandarin', 553632000.0),
 ('Thai', 400000000.0),
 ('Tamil', 150000000.0),
 ('French', 140000000.0),
 ('Czech', 84450000.0),
 ('Filipino', 80000000.0),
 ('Aboriginal', 80000000.0),
 ('Danish', 45000000.0),
 ('Maya', 40000000.0),
 ('Cantonese', 36000000.0),
 ('Norwegian', 30300000.0),
 ('Russian', 30000000.0),
 ('Aramaic', 30000000.0),
 ('Swedish', 25000000.0),
 ('Kazakh', 25000000.0),
 ('Italian', 25000000.0),
 ('Dutch', 21000000.0),
 ('Mongolian', 20000000.0),
 ('German', 20000000.0),
 ('Dari', 20000000.0),
 ('Telugu', 18026148.0),
 (None, 17000000.0),
 ('Bosnian', 13000000.0),
 ('Chinese', 12000000.0),
 ('Zulu', 10000000.0),
 ('Icelandic', 10000000.0),
 ('Arabic', 8300000.0),
 ('Portuguese', 8000000.0),
 ('Panjabi', 3000000.0),
 ('Dzongkha', 1800000.0),
 ('Vietnamese', 1592000.0),
 ('Hebrew', 1500000.0),
 ('Indonesian', 1100000.0),
 ('Urdu', 1000000.0),
 ('Romanian', 590000.0),
 ('Slovenian', 500000.0),
 ('Persian', 500000.0),
 ('Swahili', 15000.0),
 ('Polish', None),
 ('Kannada', None),
 ('Greek', None)]

## Write a query to find the average budget of films grouped by release year, and order the results by the average budget in descending order.

In [18]:
%%sql SELECT releas_date, ROUND(AVG(budget), 1) AS avg_budget
FROM films
GROUP BY releas_date
ORDER BY avg_budget DESC;

 * sqlite://
Done.

[(2006.0, 93968929.6),
 (2005.0, 70323938.2),
 (1997.0, 59424490.7),
 (2016.0, 56642741.9),
 (1988.0, 49061290.3),
 (2004.0, 46865344.6),
 (2010.0, 46094664.9),
 (2008.0, 41804885.6),
 (2012.0, 41331819.2),
 (2013.0, 40519044.9),
 (1998.0, 40460000.0),
 (2015.0, 39298329.2),
 (1999.0, 38981780.5),
 (2011.0, 37775251.7),
 (2001.0, 37687307.7),
 (2003.0, 37208648.8),
 (2009.0, 37073287.0),
 (2014.0, 35325799.1),
 (2007.0, 35271131.1),
 (2000.0, 34931375.8),
 (1995.0, 32775000.0),
 (2002.0, 32598510.7),
 (1990.0, 32388241.4),
 (1996.0, 31620612.2),
 (1994.0, 29013773.6),
 (1992.0, 25982030.3),
 (1991.0, 25176548.4),
 (1993.0, 20729787.2),
 (1989.0, 18359393.9),
 (1980.0, 15990909.1),
 (1983.0, 15875100.0),
 (1979.0, 15714285.7),
 (1984.0, 14368548.4),
 (1986.0, 14002884.6),
 (1987.0, 13533871.0),
 (1985.0, 13513983.6),
 (1982.0, 13101724.1),
 (1981.0, 11861718.8),
 (1978.0, 11283333.3),
 (1970.0, 10513912.2),
 (1977.0, 9863179.4),
 (1965.0, 8716666.7),
 (1963.0, 7712698.1),
 (None, 7666666.7),
 (1969.0, 7616009.7),
 (1927.0, 6000000.0),
 (1964.0, 5454000.0),
 (1967.0, 5333333.3),
 (1975.0, 4821595.8),
 (1968.0, 4428300.0),
 (1946.0, 4426666.7),
 (1962.0, 4420250.0),
 (1974.0, 4185229.3),
 (1973.0, 3968420.3),
 (1930.0, 3950000.0),
 (1951.0, 3906143.0),
 (1976.0, 3838930.6),
 (1959.0, 3794616.0),
 (1950.0, 3768785.0),
 (1954.0, 3582000.0),
 (1961.0, 3580000.0),
 (1971.0, 3432700.0),
 (1948.0, 3350000.0),
 (1956.0, 3166666.7),
 (1958.0, 3000000.0),
 (1939.0, 2759000.0),
 (1966.0, 2679633.3),
 (1943.0, 2627000.0),
 (1947.0, 2503000.0),
 (1952.0, 2430266.7),
 (1944.0, 2361000.0),
 (1960.0, 2268982.3),
 (1953.0, 2027500.0),
 (1972.0, 2012222.2),
 (1937.0, 2000000.0),
 (1940.0, 1945500.0),
 (1938.0, 1822368.0),
 (1945.0, 1702125.7),
 (1957.0, 1675000.0),
 (1936.0, 1350000.0),
 (1949.0, 1300000.0),
 (1941.0, 1250000.0),
 (1955.0, 1200000.0),
 (1942.0, 950000.0),
 (1932.0, 800000.0),
 (1935.0, 609000.0),
 (1916.0, 385907.0),
 (1929.0, 379000.0),
 (1934.0, 325000.0),
 (1933.0, 319500.0),
 (1925.0, 245000.0),
 (1920.0, 100000.0)]

## Write a query to find the number of films grouped by country, but only include countries that have produced more than 10 films.

In [19]:
%%sql SELECT country, COUNT(*) AS num_films
FROM films
GROUP BY country
HAVING num_films > 10
ORDER BY num_films DESC;

 * sqlite://
Done.

[('USA', 3750),
 ('UK', 443),
 ('France', 153),
 ('Canada', 123),
 ('Germany', 97),
 ('Australia', 55),
 ('India', 34),
 ('Spain', 33),
 ('China', 30),
 ('Japan', 22),
 ('Italy', 22),
 ('Mexico', 17),
 ('Hong Kong', 17),
 ('New Zealand', 15),
 ('South Korea', 14),
 ('Ireland', 12),
 ('Russia', 11),
 ('Denmark', 11)]

## Write a query to find the total duration of films grouped by release year.

In [21]:
%%sql SELECT releas_date, SUM(duratioon) AS total_duration
FROM films
GROUP BY releas_date
ORDER BY total_duration DESC;

 * sqlite://
Done.

[(2009.0, 27228.0),
 (2014.0, 26462.0),
 (2013.0, 25413.0),
 (2006.0, 25403.0),
 (2015.0, 23766.0),
 (2010.0, 23723.0),
 (2008.0, 23711.0),
 (2005.0, 23651.0),
 (2011.0, 23441.0),
 (2012.0, 23214.0),
 (2004.0, 22962.0),
 (2002.0, 21784.0),
 (2007.0, 21696.0),
 (2001.0, 20105.0),
 (2000.0, 18281.0),
 (1999.0, 18252.0),
 (2003.0, 17982.0),
 (1998.0, 14668.0),
 (1997.0, 13010.0),
 (2016.0, 11621.0),
 (1996.0, 10891.0),
 (1995.0, 8017.0),
 (1994.0, 6020.0),
 (1993.0, 5771.0),
 (1992.0, 3947.0),
 (1989.0, 3733.0),
 (1981.0, 3687.0),
 (1984.0, 3675.0),
 (1991.0, 3505.0),
 (1990.0, 3423.0),
 (1982.0, 3405.0),
 (1987.0, 3376.0),
 (1988.0, 3317.0),
 (None, 3175.0),
 (1985.0, 3153.0),
 (1980.0, 2938.0),
 (1986.0, 2721.0),
 (1983.0, 2510.0),
 (1979.0, 1999.0),
 (1978.0, 1955.0),
 (1977.0, 1805.0),
 (1970.0, 1598.0),
 (1968.0, 1326.0),
 (1969.0, 1260.0),
 (1963.0, 1231.0),
 (1964.0, 1194.0),
 (1971.0, 1161.0),
 (1962.0, 1131.0),
 (1976.0, 1124.0),
 (1965.0, 1085.0),
 (1972.0, 1038.0),
 (1974.0, 1024.0),
 (1973.0, 1002.0),
 (1975.0, 731.0),
 (1961.0, 728.0),
 (1966.0, 715.0),
 (1954.0, 703.0),
 (1940.0, 540.0),
 (1939.0, 448.0),
 (1946.0, 434.0),
 (1952.0, 427.0),
 (1953.0, 425.0),
 (1967.0, 423.0),
 (1945.0, 415.0),
 (1959.0, 410.0),
 (1951.0, 404.0),
 (1960.0, 379.0),
 (1956.0, 309.0),
 (1947.0, 305.0),
 (1948.0, 296.0),
 (1957.0, 257.0),
 (1938.0, 232.0),
 (1955.0, 225.0),
 (1949.0, 212.0),
 (1929.0, 210.0),
 (1936.0, 187.0),
 (1937.0, 184.0),
 (1933.0, 155.0),
 (1942.0, 152.0),
 (1925.0, 151.0),
 (1927.0, 145.0),
 (1916.0, 123.0),
 (1943.0, 122.0),
 (1941.0, 118.0),
 (1920.0, 110.0),
 (1958.0, 108.0),
 (1950.0, 107.0),
 (1944.0, 101.0),
 (1930.0, 96.0),
 (1935.0, 81.0),
 (1932.0, 79.0),
 (1934.0, 65.0)]

## Write a query to find the minimum budget of films grouped by country, but only include countries where the minimum budget is less than $1,000,000.

In [22]:
%%sql
SELECT country, MIN(budget) AS min_budget
FROM films
GROUP BY country
HAVING min_budget < 1000000
ORDER BY min_budget ASC;

 * sqlite://
Done.

[('USA', 218.0),
 ('France', 4500.0),
 ('Philippines', 7000.0),
 ('Iran', 10000.0),
 ('Ireland', 10000.0),
 ('UK', 14000.0),
 ('Kenya', 15000.0),
 ('Canada', 25000.0),
 ('Afghanistan', 46000.0),
 ('United Arab Emirates', 125000.0),
 ('Romania', 168000.0),
 ('Australia', 200000.0),
 ('Italy', 200000.0),
 ('India', 300000.0),
 ('New Zealand', 350000.0),
 ('Sweden', 400000.0),
 ('Israel', 450000.0),
 ('Dominican Republic', 500000.0),
 ('Slovenia', 500000.0),
 ('Switzerland', 500000.0),
 ('Argentina', 800000.0),
 ('Norway', 800000.0),
 ('Germany', 950000.0)]

## Write a query to count the number of films grouped by language, and order the results by the number of films in ascending order.

In [23]:
%%sql
SELECT language, COUNT(*) AS num_films
FROM films
GROUP BY language
ORDER BY num_films ASC;

 * sqlite://
Done.

[('Aramaic', 1),
 ('Bosnian', 1),
 ('Czech', 1),
 ('Dzongkha', 1),
 ('Filipino', 1),
 ('Greek', 1),
 ('Hungarian', 1),
 ('Kannada', 1),
 ('Kazakh', 1),
 ('Maya', 1),
 ('Mongolian', 1),
 ('Panjabi', 1),
 ('Slovenian', 1),
 ('Swahili', 1),
 ('Tamil', 1),
 ('Telugu', 1),
 ('Urdu', 1),
 ('Vietnamese', 1),
 ('Aboriginal', 2),
 ('Dari', 2),
 ('Icelandic', 2),
 ('Indonesian', 2),
 ('Polish', 2),
 ('Romanian', 2),
 ('Zulu', 2),
 ('Chinese', 3),
 ('Thai', 3),
 ('Dutch', 4),
 ('Norwegian', 4),
 ('Persian', 4),
 ('Arabic', 5),
 ('Danish', 5),
 ('Hebrew', 5),
 ('Swedish', 5),
 ('Korean', 8),
 ('Portuguese', 8),
 ('Italian', 10),
 ('Cantonese', 11),
 ('Russian', 11),
 (None, 13),
 ('Japanese', 17),
 ('German', 19),
 ('Mandarin', 26),
 ('Hindi', 28),
 ('Spanish', 40),
 ('French', 72),
 ('English', 4635)]

## Write a query to find the average duration of films grouped by country, but only include countries where the average duration is greater than 120 minutes.

In [27]:
%%sql SELECT country, ROUND(AVG(duratioon), 1) AS avg_duration
FROM films
GROUP BY country
HAVING avg_duration > 120
ORDER BY avg_duration DESC;

 * sqlite://
Done.

[('Libya', 156.0),
 ('West Germany', 155.7),
 ('Thailand', 142.8),
 ('Slovakia', 141.0),
 ('India', 139.4),
 ('Sweden', 135.8),
 ('Kyrgyzstan', 135.0),
 ('New Zealand', 132.1),
 ('Chile', 127.0),
 ('Turkey', 122.0),
 ('Hungary', 121.5),
 ('South Korea', 120.9)]

## Write a query to find the maximum gross income of films grouped by release year, and order the results by release year in descending order.

In [31]:
%%sql SELECT releas_date, MAX(gross) AS max_gross
FROM films
WHERE gross IS NOT NULL
GROUP BY releas_date
ORDER BY releas_date DESC;

 * sqlite://
Done.

[(2016.0, 407197282.0),
 (2015.0, 936627416.0),
 (2014.0, 350123553.0),
 (2013.0, 424645577.0),
 (2012.0, 623279547.0),
 (2011.0, 352358779.0),
 (2010.0, 414984497.0),
 (2009.0, 760505847.0),
 (2008.0, 533316061.0),
 (2007.0, 336530303.0),
 (2006.0, 423032628.0),
 (2005.0, 380262555.0),
 (2004.0, 436471036.0),
 (2003.0, 380838870.0),
 (2002.0, 403706375.0),
 (2001.0, 317557891.0),
 (2000.0, 260031035.0),
 (1999.0, 474544677.0),
 (1998.0, 216119491.0),
 (1997.0, 658672302.0),
 (1996.0, 306124059.0),
 (1995.0, 191796233.0),
 (1994.0, 422783777.0),
 (1993.0, 356784000.0),
 (1992.0, 217350219.0),
 (1991.0, 204843350.0),
 (1990.0, 285761243.0),
 (1989.0, 251188924.0),
 (1988.0, 172825435.0),
 (1987.0, 167780960.0),
 (1986.0, 176781728.0),
 (1985.0, 210609762.0),
 (1984.0, 234760500.0),
 (1983.0, 309125409.0),
 (1982.0, 434949459.0),
 (1981.0, 242374454.0),
 (1980.0, 290158751.0),
 (1979.0, 82300000.0),
 (1978.0, 181360000.0),
 (1977.0, 460935665.0),
 (1976.0, 117235247.0),
 (1975.0, 260000000.0),
 (1974.0, 119500000.0),
 (1973.0, 204565000.0),
 (1972.0, 134821952.0),
 (1971.0, 50000000.0),
 (1970.0, 14500000.0),
 (1969.0, 102308900.0),
 (1968.0, 56715371.0),
 (1967.0, 43100000.0),
 (1966.0, 6100000.0),
 (1965.0, 163214286.0),
 (1964.0, 102300000.0),
 (1963.0, 57750000.0),
 (1962.0, 16067035.0),
 (1961.0, 43650000.0),
 (1960.0, 32000000.0),
 (1959.0, 25000000.0),
 (1957.0, 27200000.0),
 (1954.0, 9600000.0),
 (1953.0, 36000000.0),
 (1952.0, 36000000.0),
 (1950.0, 8000000.0),
 (1948.0, 2956000.0),
 (1947.0, 7927.0),
 (1946.0, 23650000.0),
 (1942.0, 102797150.0),
 (1940.0, 84300000.0),
 (1939.0, 198655278.0),
 (1937.0, 184925485.0),
 (1936.0, 163245.0),
 (1935.0, 3000000.0),
 (1933.0, 2300000.0),
 (1929.0, 2808000.0),
 (1927.0, 26435.0),
 (1920.0, 3000000.0),
 (None, 145118.0)]

## Write a query to count the number of films grouped by release year, but only include years where the number of films is greater than the average number of films per year.

In [39]:
%%sql SELECT releas_date, COUNT(*) AS num_films
FROM films
GROUP BY releas_date
HAVING num_films > (SELECT ROUND(CAST(COUNT(*) AS REAL) / COUNT(DISTINCT releas_date), 1) AS avg_films_per_year
                   FROM films)
ORDER BY releas_date DESC;

 * sqlite://
Done.

[(2016.0, 106),
 (2015.0, 226),
 (2014.0, 252),
 (2013.0, 236),
 (2012.0, 220),
 (2011.0, 224),
 (2010.0, 227),
 (2009.0, 260),
 (2008.0, 225),
 (2007.0, 203),
 (2006.0, 238),
 (2005.0, 221),
 (2004.0, 214),
 (2003.0, 169),
 (2002.0, 209),
 (2001.0, 188),
 (2000.0, 171),
 (1999.0, 168),
 (1998.0, 134),
 (1997.0, 118),
 (1996.0, 99),
 (1995.0, 70)]