<a href="https://colab.research.google.com/github/UznetDev/Data-science-home-work/blob/main/21_Avg_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# Set-up
%load_ext sql
%sql sqlite://

In [6]:
monarchs_df = pd.read_csv('monarchs.csv')
presidents_df = pd.read_csv('presidents.csv')
prime_minister_terms_df = pd.read_csv('prime_minister_terms.csv')
prime_ministers_df = pd.read_csv('prime_ministers.csv')
states_df = pd.read_csv('states.csv')

In [10]:
%sql DROP TABLE IF EXISTS monarchs_df;
%sql --persist monarchs_df

%sql DROP TABLE IF EXISTS presidents_df;
%sql --persist presidents_df

%sql DROP TABLE IF EXISTS prime_minister_terms_df;
%sql --persist prime_minister_terms_df

%sql DROP TABLE IF EXISTS prime_ministers_df;
%sql --persist prime_ministers_df

%sql DROP TABLE IF EXISTS states_df;
%sql --persist states_df

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://

'Persisted states_df'

In [11]:
%%sql SELECT * FROM monarchs_df LIMIT 1;

 * sqlite://
Done.

[(0, 'Brunei', 'Asia', 'Hassanal Bolkiah')]

In [12]:
%%sql SELECT * FROM presidents_df LIMIT 1;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi')]

In [13]:
%%sql SELECT * FROM prime_minister_terms_df LIMIT 1;

 * sqlite://
Done.

[(0, 'Mostafa Madbouly', 2018)]

In [14]:
%%sql SELECT * FROM prime_ministers_df LIMIT 1;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Mostafa Madbouly')]

In [15]:
%%sql SELECT * FROM states_df LIMIT 1;

 * sqlite://
Done.

[(0, 'Australia', 'Oceania', 1901)]