<a href="https://colab.research.google.com/github/UznetDev/Data-science-home-work/blob/main/21_Avg_2024_home_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# JOINS

In [1]:
import pandas as pd

In [2]:
# Set-up
%load_ext sql
%sql sqlite://

## Load date

In [3]:
monarchs = pd.read_csv('monarchs.csv')
presidents = pd.read_csv('presidents.csv')
prime_minister_terms = pd.read_csv('prime_minister_terms.csv')
prime_ministers = pd.read_csv('prime_ministers.csv')
states = pd.read_csv('states.csv')

In [4]:
%sql DROP TABLE IF EXISTS monarchs;
%sql --persist monarchs

%sql DROP TABLE IF EXISTS presidents;
%sql --persist presidents

%sql DROP TABLE IF EXISTS prime_minister_terms;
%sql --persist prime_minister_terms

%sql DROP TABLE IF EXISTS prime_ministers;
%sql --persist prime_ministers

%sql DROP TABLE IF EXISTS states;
%sql --persist states

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://

'Persisted states'

## monarchs

In [5]:
%%sql SELECT * FROM monarchs LIMIT 1;

 * sqlite://
Done.

[(0, 'Brunei', 'Asia', 'Hassanal Bolkiah')]

## presidents

In [6]:
%%sql SELECT * FROM presidents LIMIT 1;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi')]

## prime_minister_terms

In [7]:
%%sql SELECT * FROM prime_minister_terms LIMIT 1;

 * sqlite://
Done.

[(0, 'Mostafa Madbouly', 2018)]

## prime_ministers

In [8]:
%%sql SELECT * FROM prime_ministers LIMIT 1;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Mostafa Madbouly')]

## states

In [9]:
%%sql SELECT * FROM states LIMIT 1;

 * sqlite://
Done.

[(0, 'Australia', 'Oceania', 1901)]

In [10]:
%%sql SELECT *
FROM presidents AS p
INNER JOIN prime_ministers AS pt
ON p.country = pt.country
LIMIT 5;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi', 0, 'Egypt', 'Africa', 'Mostafa Madbouly'),
 (1, 'Portugal', 'Europe', 'Marcelo Rebelo de Sousa', 1, 'Portugal', 'Europe', 'António Costa'),
 (4, 'Pakistan', 'Asia', 'Arif Alvi', 2, 'Pakistan', 'Asia', 'Shehbaz Sharif'),
 (6, 'India', 'Asia', 'Ram Nath Kovind', 4, 'India', 'Asia', 'Narendra Modi')]

In [11]:
%%sql SELECT *
FROM presidents AS p
INNER JOIN prime_ministers AS pt
USING(country)
LIMIT 5;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi', 0, 'Africa', 'Mostafa Madbouly'),
 (1, 'Portugal', 'Europe', 'Marcelo Rebelo de Sousa', 1, 'Europe', 'António Costa'),
 (4, 'Pakistan', 'Asia', 'Arif Alvi', 2, 'Asia', 'Shehbaz Sharif'),
 (6, 'India', 'Asia', 'Ram Nath Kovind', 4, 'Asia', 'Narendra Modi')]

In [12]:
%%sql SELECT *
FROM presidents AS p
LEFT JOIN prime_ministers AS pt
ON p.country = pt.country
LIMIT 5;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi', 0, 'Egypt', 'Africa', 'Mostafa Madbouly'),
 (1, 'Portugal', 'Europe', 'Marcelo Rebelo de Sousa', 1, 'Portugal', 'Europe', 'António Costa'),
 (2, 'USA', 'North America', 'Joe Biden', None, None, None, None),
 (3, 'Uruguay', 'South America', 'Luis Lacalle Pou', None, None, None, None),
 (4, 'Pakistan', 'Asia', 'Arif Alvi', 2, 'Pakistan', 'Asia', 'Shehbaz Sharif')]

In [13]:
%%sql SELECT *
FROM prime_ministers AS p1
INNER JOIN presidents AS p2
USING(country)
LIMIT 5;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Mostafa Madbouly', 0, 'Africa', 'Abdel Fattah el-Sisi'),
 (1, 'Portugal', 'Europe', 'António Costa', 1, 'Europe', 'Marcelo Rebelo de Sousa'),
 (2, 'Pakistan', 'Asia', 'Shehbaz Sharif', 4, 'Asia', 'Arif Alvi'),
 (4, 'India', 'Asia', 'Narendra Modi', 6, 'Asia', 'Ram Nath Kovind')]

In [14]:
%%sql SELECT *
FROM prime_ministers AS p1
INNER JOIN presidents AS p2
USING(country)
INNER JOIN prime_minister_terms AS p3
ON p1.country = p2.country
LIMIT 5;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Mostafa Madbouly', 0, 'Africa', 'Abdel Fattah el-Sisi', 0, 'Mostafa Madbouly', 2018),
 (0, 'Egypt', 'Africa', 'Mostafa Madbouly', 0, 'Africa', 'Abdel Fattah el-Sisi', 1, 'António Costa', 2015),
 (0, 'Egypt', 'Africa', 'Mostafa Madbouly', 0, 'Africa', 'Abdel Fattah el-Sisi', 2, 'Shehbaz Sharif', 2022),
 (0, 'Egypt', 'Africa', 'Mostafa Madbouly', 0, 'Africa', 'Abdel Fattah el-Sisi', 3, 'Boris Johnson', 2019),
 (0, 'Egypt', 'Africa', 'Mostafa Madbouly', 0, 'Africa', 'Abdel Fattah el-Sisi', 4, 'Narendra Modi', 2014)]

In [15]:
%%sql SELECT *
FROM prime_ministers AS p1
INNER JOIN presidents AS p2
USING(country)
INNER JOIN prime_minister_terms AS p3
USING(prime_minister)
LIMIT 5;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Mostafa Madbouly', 0, 'Africa', 'Abdel Fattah el-Sisi', 0, 2018),
 (1, 'Portugal', 'Europe', 'António Costa', 1, 'Europe', 'Marcelo Rebelo de Sousa', 1, 2015),
 (2, 'Pakistan', 'Asia', 'Shehbaz Sharif', 4, 'Asia', 'Arif Alvi', 2, 2022),
 (4, 'India', 'Asia', 'Narendra Modi', 6, 'Asia', 'Ram Nath Kovind', 4, 2014)]

In [16]:
%%sql SELECT *
FROM presidents AS p
INNER JOIN prime_ministers AS pt
ON p.country = pt.country
OR p.continent = pt.continent
LIMIT 5;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi', 0, 'Egypt', 'Africa', 'Mostafa Madbouly'),
 (1, 'Portugal', 'Europe', 'Marcelo Rebelo de Sousa', 1, 'Portugal', 'Europe', 'António Costa'),
 (1, 'Portugal', 'Europe', 'Marcelo Rebelo de Sousa', 3, 'United Kingdom', 'Europe', 'Boris Johnson'),
 (1, 'Portugal', 'Europe', 'Marcelo Rebelo de Sousa', 6, 'Norway', 'Europe', 'Jonas Gahr Støre'),
 (4, 'Pakistan', 'Asia', 'Arif Alvi', 2, 'Pakistan', 'Asia', 'Shehbaz Sharif')]

In [17]:
%%sql SELECT *
FROM presidents AS p
JOIN prime_ministers AS pt
LIMIT 5;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi', 0, 'Egypt', 'Africa', 'Mostafa Madbouly'),
 (0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi', 1, 'Portugal', 'Europe', 'António Costa'),
 (0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi', 2, 'Pakistan', 'Asia', 'Shehbaz Sharif'),
 (0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi', 3, 'United Kingdom', 'Europe', 'Boris Johnson'),
 (0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi', 4, 'India', 'Asia', 'Narendra Modi')]

In [18]:
%%sql SELECT *
FROM presidents AS p
CROSS JOIN prime_ministers AS pt
LIMIT 5;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi', 0, 'Egypt', 'Africa', 'Mostafa Madbouly'),
 (0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi', 1, 'Portugal', 'Europe', 'António Costa'),
 (0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi', 2, 'Pakistan', 'Asia', 'Shehbaz Sharif'),
 (0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi', 3, 'United Kingdom', 'Europe', 'Boris Johnson'),
 (0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi', 4, 'India', 'Asia', 'Narendra Modi')]

In [19]:
%%sql SELECT *
FROM presidents AS p
CROSS JOIN prime_ministers AS pt
CROSS JOIN prime_minister_terms AS p3
LIMIT 5;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi', 0, 'Egypt', 'Africa', 'Mostafa Madbouly', 0, 'Mostafa Madbouly', 2018),
 (0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi', 0, 'Egypt', 'Africa', 'Mostafa Madbouly', 1, 'António Costa', 2015),
 (0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi', 0, 'Egypt', 'Africa', 'Mostafa Madbouly', 2, 'Shehbaz Sharif', 2022),
 (0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi', 0, 'Egypt', 'Africa', 'Mostafa Madbouly', 3, 'Boris Johnson', 2019),
 (0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi', 0, 'Egypt', 'Africa', 'Mostafa Madbouly', 4, 'Narendra Modi', 2014)]

In [20]:
%%sql SELECT p1.country,
             p2.country,
             p1.continent
FROM prime_ministers AS p1
INNER JOIN prime_ministers AS p2
USING(continent);

 * sqlite://
Done.

[('Egypt', 'Egypt', 'Africa'),
 ('Portugal', 'Norway', 'Europe'),
 ('Portugal', 'Portugal', 'Europe'),
 ('Portugal', 'United Kingdom', 'Europe'),
 ('Pakistan', 'Brunei', 'Asia'),
 ('Pakistan', 'India', 'Asia'),
 ('Pakistan', 'Oman', 'Asia'),
 ('Pakistan', 'Pakistan', 'Asia'),
 ('United Kingdom', 'Norway', 'Europe'),
 ('United Kingdom', 'Portugal', 'Europe'),
 ('United Kingdom', 'United Kingdom', 'Europe'),
 ('India', 'Brunei', 'Asia'),
 ('India', 'India', 'Asia'),
 ('India', 'Oman', 'Asia'),
 ('India', 'Pakistan', 'Asia'),
 ('Australia', 'Australia', 'Oceania'),
 ('Australia', 'New Zealand', 'Oceania'),
 ('Norway', 'Norway', 'Europe'),
 ('Norway', 'Portugal', 'Europe'),
 ('Norway', 'United Kingdom', 'Europe'),
 ('Brunei', 'Brunei', 'Asia'),
 ('Brunei', 'India', 'Asia'),
 ('Brunei', 'Oman', 'Asia'),
 ('Brunei', 'Pakistan', 'Asia'),
 ('Oman', 'Brunei', 'Asia'),
 ('Oman', 'India', 'Asia'),
 ('Oman', 'Oman', 'Asia'),
 ('Oman', 'Pakistan', 'Asia'),
 ('New Zealand', 'Australia', 'Oceania'),
 ('New Zealand', 'New Zealand', 'Oceania')]

In [21]:
%%sql SELECT p1.country,
             p2.country,
             p1.continent
FROM prime_ministers AS p1
INNER JOIN prime_ministers AS p2
USING(continent);

 * sqlite://
Done.

[('Egypt', 'Egypt', 'Africa'),
 ('Portugal', 'Norway', 'Europe'),
 ('Portugal', 'Portugal', 'Europe'),
 ('Portugal', 'United Kingdom', 'Europe'),
 ('Pakistan', 'Brunei', 'Asia'),
 ('Pakistan', 'India', 'Asia'),
 ('Pakistan', 'Oman', 'Asia'),
 ('Pakistan', 'Pakistan', 'Asia'),
 ('United Kingdom', 'Norway', 'Europe'),
 ('United Kingdom', 'Portugal', 'Europe'),
 ('United Kingdom', 'United Kingdom', 'Europe'),
 ('India', 'Brunei', 'Asia'),
 ('India', 'India', 'Asia'),
 ('India', 'Oman', 'Asia'),
 ('India', 'Pakistan', 'Asia'),
 ('Australia', 'Australia', 'Oceania'),
 ('Australia', 'New Zealand', 'Oceania'),
 ('Norway', 'Norway', 'Europe'),
 ('Norway', 'Portugal', 'Europe'),
 ('Norway', 'United Kingdom', 'Europe'),
 ('Brunei', 'Brunei', 'Asia'),
 ('Brunei', 'India', 'Asia'),
 ('Brunei', 'Oman', 'Asia'),
 ('Brunei', 'Pakistan', 'Asia'),
 ('Oman', 'Brunei', 'Asia'),
 ('Oman', 'India', 'Asia'),
 ('Oman', 'Oman', 'Asia'),
 ('Oman', 'Pakistan', 'Asia'),
 ('New Zealand', 'Australia', 'Oceania'),
 ('New Zealand', 'New Zealand', 'Oceania')]

In [22]:
%%sql SELECT p1.country,
             p2.country,
             p1.continent
FROM prime_ministers AS p1
INNER JOIN prime_ministers AS p2
ON p1.continent=p2.continent AND  p1.country != p2.country;

 * sqlite://
Done.

[('Portugal', 'Norway', 'Europe'),
 ('Portugal', 'United Kingdom', 'Europe'),
 ('Pakistan', 'Brunei', 'Asia'),
 ('Pakistan', 'India', 'Asia'),
 ('Pakistan', 'Oman', 'Asia'),
 ('United Kingdom', 'Norway', 'Europe'),
 ('United Kingdom', 'Portugal', 'Europe'),
 ('India', 'Brunei', 'Asia'),
 ('India', 'Oman', 'Asia'),
 ('India', 'Pakistan', 'Asia'),
 ('Australia', 'New Zealand', 'Oceania'),
 ('Norway', 'Portugal', 'Europe'),
 ('Norway', 'United Kingdom', 'Europe'),
 ('Brunei', 'India', 'Asia'),
 ('Brunei', 'Oman', 'Asia'),
 ('Brunei', 'Pakistan', 'Asia'),
 ('Oman', 'Brunei', 'Asia'),
 ('Oman', 'India', 'Asia'),
 ('Oman', 'Pakistan', 'Asia'),
 ('New Zealand', 'Australia', 'Oceania')]

In [23]:
%%sql SELECT p1.country,
             p2.country,
             p1.continent
FROM prime_ministers AS p1
INNER JOIN prime_ministers AS p2
USING(continent)
WHERE p1.country != p2.country;

 * sqlite://
Done.

[('Portugal', 'Norway', 'Europe'),
 ('Portugal', 'United Kingdom', 'Europe'),
 ('Pakistan', 'Brunei', 'Asia'),
 ('Pakistan', 'India', 'Asia'),
 ('Pakistan', 'Oman', 'Asia'),
 ('United Kingdom', 'Norway', 'Europe'),
 ('United Kingdom', 'Portugal', 'Europe'),
 ('India', 'Brunei', 'Asia'),
 ('India', 'Oman', 'Asia'),
 ('India', 'Pakistan', 'Asia'),
 ('Australia', 'New Zealand', 'Oceania'),
 ('Norway', 'Portugal', 'Europe'),
 ('Norway', 'United Kingdom', 'Europe'),
 ('Brunei', 'India', 'Asia'),
 ('Brunei', 'Oman', 'Asia'),
 ('Brunei', 'Pakistan', 'Asia'),
 ('Oman', 'Brunei', 'Asia'),
 ('Oman', 'India', 'Asia'),
 ('Oman', 'Pakistan', 'Asia'),
 ('New Zealand', 'Australia', 'Oceania')]

In [24]:
%%sql SELECT monarch AS leader,
             country
FROM monarchs
UNION
SELECT prime_minister AS leader,
             country
FROM prime_ministers
ORDER BY country, leader
LIMIT 10;

 * sqlite://
Done.

[('Scott Morrison', 'Australia'),
 ('Hassanal Bolkiah', 'Brunei'),
 ('Mostafa Madbouly', 'Egypt'),
 ('Narendra Modi', 'India'),
 ('Jacinda Ardern', 'New Zealand'),
 ('Harald V', 'Norway'),
 ('Jonas Gahr Støre', 'Norway'),
 ('Haitham bin Tarik', 'Oman'),
 ('Shehbaz Sharif', 'Pakistan'),
 ('António Costa', 'Portugal')]

In [25]:
%%sql SELECT prime_minister AS leader,
             pm_start
FROM prime_minister_terms
UNION
SELECT prime_minister AS leader,
             country
FROM prime_ministers
ORDER BY country, leader;

 * sqlite://
Done.

[('Hassanal Bolkiah', 1984),
 ('Narendra Modi', 2014),
 ('António Costa', 2015),
 ('Jacinda Ardern', 2017),
 ('Mostafa Madbouly', 2018),
 ('Scott Morrison', 2018),
 ('Boris Johnson', 2019),
 ('Haitham bin Tarik', 2020),
 ('Jonas Gahr Støre', 2021),
 ('Shehbaz Sharif', 2022),
 ('Scott Morrison', 'Australia'),
 ('Hassanal Bolkiah', 'Brunei'),
 ('Mostafa Madbouly', 'Egypt'),
 ('Narendra Modi', 'India'),
 ('Jacinda Ardern', 'New Zealand'),
 ('Jonas Gahr Støre', 'Norway'),
 ('Haitham bin Tarik', 'Oman'),
 ('Shehbaz Sharif', 'Pakistan'),
 ('António Costa', 'Portugal'),
 ('Boris Johnson', 'United Kingdom')]

In [26]:
%%sql
SELECT country FROM presidents
INTERSECT
SELECT country FROM prime_ministers

 * sqlite://
Done.

[('Egypt',), ('India',), ('Pakistan',), ('Portugal',)]

In [27]:
%%sql SELECT country AS intercept_country
FROM prime_ministers
INTERSECT
SELECT country FROM presidents;

 * sqlite://
Done.

[('Egypt',), ('India',), ('Pakistan',), ('Portugal',)]

In [28]:
%%sql SELECT country, prime_minister AS leader
FROM prime_ministers
INTERSECT
SELECT country, monarch
FROM monarchs;

 * sqlite://
Done.

[('Brunei', 'Hassanal Bolkiah'), ('Oman', 'Haitham bin Tarik')]

## Ham monarxi va ham prime_ministri bulgan davlatlar

In [33]:
%%sql SELECT country, prime_minister AS leader
FROM prime_ministers
INTERSECT
SELECT country, monarch
FROM monarchs;

 * sqlite://
Done.

[('Brunei', 'Hassanal Bolkiah'), ('Oman', 'Haitham bin Tarik')]