<a href="https://colab.research.google.com/github/UznetDev/Data-science-home-work/blob/main/21_Avg_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# JOINS

In [16]:
import pandas as pd

In [17]:
# Set-up
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [18]:
monarchs = pd.read_csv('monarchs.csv')
presidents = pd.read_csv('presidents.csv')
prime_minister_terms = pd.read_csv('prime_minister_terms.csv')
prime_ministers = pd.read_csv('prime_ministers.csv')
states = pd.read_csv('states.csv')

In [19]:
%sql DROP TABLE IF EXISTS monarchs;
%sql --persist monarchs

%sql DROP TABLE IF EXISTS presidents;
%sql --persist presidents

%sql DROP TABLE IF EXISTS prime_minister_terms;
%sql --persist prime_minister_terms

%sql DROP TABLE IF EXISTS prime_ministers;
%sql --persist prime_ministers

%sql DROP TABLE IF EXISTS states;
%sql --persist states

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://

'Persisted states'

In [20]:
%%sql SELECT * FROM monarchs LIMIT 1;

 * sqlite://
Done.

[(0, 'Brunei', 'Asia', 'Hassanal Bolkiah')]

In [21]:
%%sql SELECT * FROM presidents LIMIT 1;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi')]

In [22]:
%%sql SELECT * FROM prime_minister_terms LIMIT 1;

 * sqlite://
Done.

[(0, 'Mostafa Madbouly', 2018)]

In [23]:
%%sql SELECT * FROM prime_ministers LIMIT 1;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Mostafa Madbouly')]

In [24]:
%%sql SELECT * FROM states LIMIT 1;

 * sqlite://
Done.

[(0, 'Australia', 'Oceania', 1901)]