<a href="https://colab.research.google.com/github/UznetDev/Data-science-home-work/blob/main/21_Avg_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# JOINS

In [16]:
import pandas as pd

In [17]:
# Set-up
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [18]:
monarchs = pd.read_csv('monarchs.csv')
presidents = pd.read_csv('presidents.csv')
prime_minister_terms = pd.read_csv('prime_minister_terms.csv')
prime_ministers = pd.read_csv('prime_ministers.csv')
states = pd.read_csv('states.csv')

In [19]:
%sql DROP TABLE IF EXISTS monarchs;
%sql --persist monarchs

%sql DROP TABLE IF EXISTS presidents;
%sql --persist presidents

%sql DROP TABLE IF EXISTS prime_minister_terms;
%sql --persist prime_minister_terms

%sql DROP TABLE IF EXISTS prime_ministers;
%sql --persist prime_ministers

%sql DROP TABLE IF EXISTS states;
%sql --persist states

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://

'Persisted states'

## monarchs

In [20]:
%%sql SELECT * FROM monarchs LIMIT 1;

 * sqlite://
Done.

[(0, 'Brunei', 'Asia', 'Hassanal Bolkiah')]

## presidents

In [21]:
%%sql SELECT * FROM presidents LIMIT 1;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi')]

## prime_minister_terms

In [22]:
%%sql SELECT * FROM prime_minister_terms LIMIT 1;

 * sqlite://
Done.

[(0, 'Mostafa Madbouly', 2018)]

## prime_ministers

In [23]:
%%sql SELECT * FROM prime_ministers LIMIT 1;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Mostafa Madbouly')]

## states

In [24]:
%%sql SELECT * FROM states LIMIT 1;

 * sqlite://
Done.

[(0, 'Australia', 'Oceania', 1901)]

In [28]:
%%sql SELECT *
FROM presidents AS p
INNER JOIN prime_ministers AS pt
ON p.country = pt.country
LIMIT 5;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi', 0, 'Egypt', 'Africa', 'Mostafa Madbouly'),
 (1, 'Portugal', 'Europe', 'Marcelo Rebelo de Sousa', 1, 'Portugal', 'Europe', 'António Costa'),
 (4, 'Pakistan', 'Asia', 'Arif Alvi', 2, 'Pakistan', 'Asia', 'Shehbaz Sharif'),
 (6, 'India', 'Asia', 'Ram Nath Kovind', 4, 'India', 'Asia', 'Narendra Modi')]

In [31]:
%%sql SELECT *
FROM presidents AS p
INNER JOIN prime_ministers AS pt
USING(country)
LIMIT 5;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi', 0, 'Africa', 'Mostafa Madbouly'),
 (1, 'Portugal', 'Europe', 'Marcelo Rebelo de Sousa', 1, 'Europe', 'António Costa'),
 (4, 'Pakistan', 'Asia', 'Arif Alvi', 2, 'Asia', 'Shehbaz Sharif'),
 (6, 'India', 'Asia', 'Ram Nath Kovind', 4, 'Asia', 'Narendra Modi')]

In [34]:
%%sql SELECT *
FROM presidents AS p
LEFT JOIN prime_ministers AS pt
ON p.country = pt.country
LIMIT 5;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi', 0, 'Egypt', 'Africa', 'Mostafa Madbouly'),
 (1, 'Portugal', 'Europe', 'Marcelo Rebelo de Sousa', 1, 'Portugal', 'Europe', 'António Costa'),
 (2, 'USA', 'North America', 'Joe Biden', None, None, None, None),
 (3, 'Uruguay', 'South America', 'Luis Lacalle Pou', None, None, None, None),
 (4, 'Pakistan', 'Asia', 'Arif Alvi', 2, 'Pakistan', 'Asia', 'Shehbaz Sharif')]

In [38]:
%%sql SELECT *
FROM prime_ministers AS p1
INNER JOIN presidents AS p2
USING(country)
LIMIT 5;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Mostafa Madbouly', 0, 'Africa', 'Abdel Fattah el-Sisi'),
 (1, 'Portugal', 'Europe', 'António Costa', 1, 'Europe', 'Marcelo Rebelo de Sousa'),
 (2, 'Pakistan', 'Asia', 'Shehbaz Sharif', 4, 'Asia', 'Arif Alvi'),
 (4, 'India', 'Asia', 'Narendra Modi', 6, 'Asia', 'Ram Nath Kovind')]

In [43]:
%%sql SELECT *
FROM prime_ministers AS p1
INNER JOIN presidents AS p2
USING(country)
INNER JOIN prime_minister_terms AS p3
ON p1.country = p2.country
LIMIT 5;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Mostafa Madbouly', 0, 'Africa', 'Abdel Fattah el-Sisi', 0, 'Mostafa Madbouly', 2018),
 (0, 'Egypt', 'Africa', 'Mostafa Madbouly', 0, 'Africa', 'Abdel Fattah el-Sisi', 1, 'António Costa', 2015),
 (0, 'Egypt', 'Africa', 'Mostafa Madbouly', 0, 'Africa', 'Abdel Fattah el-Sisi', 2, 'Shehbaz Sharif', 2022),
 (0, 'Egypt', 'Africa', 'Mostafa Madbouly', 0, 'Africa', 'Abdel Fattah el-Sisi', 3, 'Boris Johnson', 2019),
 (0, 'Egypt', 'Africa', 'Mostafa Madbouly', 0, 'Africa', 'Abdel Fattah el-Sisi', 4, 'Narendra Modi', 2014)]

In [45]:
%%sql SELECT *
FROM prime_ministers AS p1
INNER JOIN presidents AS p2
USING(country)
INNER JOIN prime_minister_terms AS p3
USING(prime_minister)
LIMIT 5;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Mostafa Madbouly', 0, 'Africa', 'Abdel Fattah el-Sisi', 0, 2018),
 (1, 'Portugal', 'Europe', 'António Costa', 1, 'Europe', 'Marcelo Rebelo de Sousa', 1, 2015),
 (2, 'Pakistan', 'Asia', 'Shehbaz Sharif', 4, 'Asia', 'Arif Alvi', 2, 2022),
 (4, 'India', 'Asia', 'Narendra Modi', 6, 'Asia', 'Ram Nath Kovind', 4, 2014)]

In [ ]:
%%sql SELECT *