<a href="https://colab.research.google.com/github/UznetDev/Data-science-home-work/blob/main/23_Avg_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SQL**

### Import librares

In [5]:
import pandas as pd

### Set-up

In [6]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
monarchs = pd.read_csv('monarchs.csv')
presidents = pd.read_csv('presidents.csv')
prime_minister_terms = pd.read_csv('prime_minister_terms.csv')
prime_ministers = pd.read_csv('prime_ministers.csv')
states = pd.read_csv('states.csv')

In [8]:
%sql DROP TABLE IF EXISTS monarchs;
%sql --persist monarchs

%sql DROP TABLE IF EXISTS presidents;
%sql --persist presidents

%sql DROP TABLE IF EXISTS prime_minister_terms;
%sql --persist prime_minister_terms

%sql DROP TABLE IF EXISTS prime_ministers;
%sql --persist prime_ministers

%sql DROP TABLE IF EXISTS states;
%sql --persist states

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://

'Persisted states'

### *Class work*

In [9]:
%%sql SELECT monarch, country
FROM monarchs
EXCEPT
SELECT prime_minister, country
FROM prime_ministers;

 * sqlite://
Done.

[('Harald V', 'Norway'), ('Queen Elizabeth II', 'United Kingdom')]

In [13]:
%%sql SELECT country, continent, president
FROM presidents;

 * sqlite://
Done.

[('Egypt', 'Africa', 'Abdel Fattah el-Sisi'),
 ('Portugal', 'Europe', 'Marcelo Rebelo de Sousa'),
 ('USA', 'North America', 'Joe Biden'),
 ('Uruguay', 'South America', 'Luis Lacalle Pou'),
 ('Pakistan', 'Asia', 'Arif Alvi'),
 ('Chile', 'South America', 'Gabriel Boric'),
 ('India', 'Asia', 'Ram Nath Kovind')]

In [14]:
%%sql SELECT country
FROM states
WHERE indep_year < 1800;

 * sqlite://
Done.

[('Portugal',), ('USA',)]

In [16]:
%%sql SELECT president, country, continent
FROM presidents
WHERE country IN (
    SELECT country
    FROM states
    WHERE indep_year < 1800
);

 * sqlite://
Done.

[('Marcelo Rebelo de Sousa', 'Portugal', 'Europe'),
 ('Joe Biden', 'USA', 'North America')]

In [20]:
%%sql SELECT president, s.country, s.continent
FROM presidents as p
INNER JOIN states as s
ON p.country = s.country
WHERE s.indep_year < 1800;

 * sqlite://
Done.

[('Marcelo Rebelo de Sousa', 'Portugal', 'Europe'),
 ('Joe Biden', 'USA', 'North America')]

In [21]:
%%sql SELECT president, s.country, s.continent
FROM presidents as p
INNER JOIN states as s
ON p.country != s.country
WHERE s.indep_year < 1800;

 * sqlite://
Done.

[('Abdel Fattah el-Sisi', 'Portugal', 'Europe'),
 ('Joe Biden', 'Portugal', 'Europe'),
 ('Luis Lacalle Pou', 'Portugal', 'Europe'),
 ('Arif Alvi', 'Portugal', 'Europe'),
 ('Gabriel Boric', 'Portugal', 'Europe'),
 ('Ram Nath Kovind', 'Portugal', 'Europe'),
 ('Abdel Fattah el-Sisi', 'USA', 'North America'),
 ('Marcelo Rebelo de Sousa', 'USA', 'North America'),
 ('Luis Lacalle Pou', 'USA', 'North America'),
 ('Arif Alvi', 'USA', 'North America'),
 ('Gabriel Boric', 'USA', 'North America'),
 ('Ram Nath Kovind', 'USA', 'North America')]

In [26]:
%%sql SELECT country, president
FROM presidents
WHERE continent LIKE '%America'
AND country NOT IN (
    SELECT country
    FROM states
    WHERE indep_year < 1800
);

 * sqlite://
Done.

[('Uruguay', 'Luis Lacalle Pou'), ('Chile', 'Gabriel Boric')]

In [30]:
%%sql SELECT p.country, p.president
FROM presidents p
INNER JOIN states s ON p.country = s.country
WHERE p.continent LIKE '%America'
AND (s.indep_year >= 1800 OR s.indep_year IS NULL);

 * sqlite://
Done.

[('Uruguay', 'Luis Lacalle Pou'), ('Chile', 'Gabriel Boric')]

In [31]:
%%sql SELECT DISTINCT continent
FROM states;

 * sqlite://
Done.

[('Oceania',),
 ('Asia',),
 ('South America',),
 ('Africa',),
 ('Europe',),
 ('North America',)]