<a href="https://colab.research.google.com/github/UznetDev/Data-science-home-work/blob/main/24_Avg_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SQL**

### Import librares

In [20]:
import pandas as pd

### Set-up for SQL

In [21]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

##### Load dataset

In [22]:
monarchs = pd.read_csv('monarchs.csv')
presidents = pd.read_csv('presidents.csv')
prime_minister_terms = pd.read_csv('prime_minister_terms.csv')
prime_ministers = pd.read_csv('prime_ministers.csv')
states = pd.read_csv('states.csv')

##### Upload dataset to SQL

In [23]:
%sql DROP TABLE IF EXISTS monarchs;
%sql --persist monarchs

%sql DROP TABLE IF EXISTS presidents;
%sql --persist presidents

%sql DROP TABLE IF EXISTS prime_minister_terms;
%sql --persist prime_minister_terms

%sql DROP TABLE IF EXISTS prime_ministers;
%sql --persist prime_ministers

%sql DROP TABLE IF EXISTS states;
%sql --persist states

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://

'Persisted states'

### Class work

#### Part 1

##### All

In [25]:
%%sql
SELECT continent, COUNT(country) AS number_of_countries
FROM states
GROUP BY continent
ORDER BY number_of_countries DESC

 * sqlite://
Done.

[('Asia', 4),
 ('South America', 2),
 ('Europe', 2),
 ('Oceania', 1),
 ('North America', 1),
 ('Africa', 1)]

In [27]:
%%sql SELECT AVG(indep_year)
FROM states;

 * sqlite://
Done.

[(1829.0,)]

In [28]:
%%sql SELECT AVG(indep_year)
FROM states
WHERE indep_year > 200;

 * sqlite://
Done.

[(1829.0,)]

In [31]:
%%sql SELECT continent, COUNT(prime_minister) AS number_of_prime_ministers
FROM prime_ministers
GROUP BY continent
ORDER BY number_of_prime_ministers DESC;

 * sqlite://
Done.

[('Asia', 4), ('Europe', 3), ('Oceania', 2), ('Africa', 1)]

In [32]:
%%sql SELECT continent, COUNT(prime_minister) AS number_of_prime_ministers
FROM prime_ministers
GROUP BY continent
HAVING number_of_prime_ministers > 10
ORDER BY number_of_prime_ministers DESC;

 * sqlite://
Done.

[]

In [34]:
%%sql SELECT prime_minister, pm_start
FROM prime_minister_terms
ORDER BY pm_start DESC
LIMIT 1;

 * sqlite://
Done.

[('Shehbaz Sharif', 2022)]

In [36]:
%%sql SELECT prime_minister, MAX(pm_start)
FROM prime_minister_terms;

 * sqlite://
Done.

[('Shehbaz Sharif', 2022)]

In [37]:
%%sql SELECT continent, COUNT(*) AS number_of_states
FROM monarchs
GROUP BY continent
ORDER BY number_of_states;

 * sqlite://
Done.

[('Asia', 2), ('Europe', 2)]

In [38]:
%%sql SELECT continent,
      (SELECT COUNT(*)
       FROM monarchs
       WHERE monarchs.continent = states.continent) AS number_of_states
FROM states
GROUP BY continent
ORDER BY number_of_states;

 * sqlite://
Done.

[('Africa', 0),
 ('North America', 0),
 ('Oceania', 0),
 ('South America', 0),
 ('Asia', 2),
 ('Europe', 2)]

In [40]:
%%sql SELECT continent,
      (SELECT COUNT(*)
       FROM monarchs
       WHERE monarchs.continent = states.continent) AS number_of_states
FROM states
GROUP BY continent
ORDER BY number_of_states DESC;

 * sqlite://
Done.

[('Europe', 2),
 ('Asia', 2),
 ('South America', 0),
 ('Oceania', 0),
 ('North America', 0),
 ('Africa', 0)]

In [43]:
%%sql SELECT prime_minister, MAX(pm_start) AS last_term
FROM prime_minister_terms
GROUP BY prime_minister
HAVING last_term > 2000;

 * sqlite://
Done.

[('António Costa', 2015),
 ('Boris Johnson', 2019),
 ('Haitham bin Tarik', 2020),
 ('Jacinda Ardern', 2017),
 ('Jonas Gahr Støre', 2021),
 ('Mostafa Madbouly', 2018),
 ('Narendra Modi', 2014),
 ('Scott Morrison', 2018),
 ('Shehbaz Sharif', 2022)]

In [44]:
%%sql SELECT prime_minister, MAX(pm_start) AS last_term
FROM prime_minister_terms
GROUP BY prime_minister;

 * sqlite://
Done.

[('António Costa', 2015),
 ('Boris Johnson', 2019),
 ('Haitham bin Tarik', 2020),
 ('Hassanal Bolkiah', 1984),
 ('Jacinda Ardern', 2017),
 ('Jonas Gahr Støre', 2021),
 ('Mostafa Madbouly', 2018),
 ('Narendra Modi', 2014),
 ('Scott Morrison', 2018),
 ('Shehbaz Sharif', 2022)]

In [45]:
%%sql SELECT prime_minister, MAX(pm_start) AS last_term
FROM prime_minister_terms
GROUP BY prime_minister
HAVING pm_start > 2000;

 * sqlite://
Done.

[('António Costa', 2015),
 ('Boris Johnson', 2019),
 ('Haitham bin Tarik', 2020),
 ('Jacinda Ardern', 2017),
 ('Jonas Gahr Støre', 2021),
 ('Mostafa Madbouly', 2018),
 ('Narendra Modi', 2014),
 ('Scott Morrison', 2018),
 ('Shehbaz Sharif', 2022)]

In [56]:
%%sql SELECT continent, COUNT(country) AS number_of_states
FROM prime_ministers
WHERE country LIKE '%a%'
GROUP BY continent;

 * sqlite://
Done.

[('Asia', 3), ('Europe', 2), ('Oceania', 2)]

In [51]:
%%sql SELECT continent, COUNT(country) AS number_of_states
FROM states
WHERE indep_year IS NULL
GROUP BY continent;

 * sqlite://
Done.

[]

In [54]:
%%sql SELECT continent, COUNT(prime_minister) AS number_of_prime_ministers
FROM prime_ministers
WHERE prime_minister LIKE 'e%'
GROUP BY continent;

 * sqlite://
Done.

[]

In [58]:
%%sql SELECT continent, MIN(indep_year) AS first_independence
FROM states
GROUP BY continent
ORDER BY first_independence;

 * sqlite://
Done.

[('Europe', 1143),
 ('North America', 1776),
 ('South America', 1818),
 ('Oceania', 1901),
 ('Africa', 1922),
 ('Asia', 1947)]

In [59]:
%%sql SELECT continent, MIN(indep_year) AS first_independence
FROM states
WHERE indep_year > 1900
GROUP BY continent
ORDER BY first_independence;

 * sqlite://
Done.

[('Oceania', 1901), ('Europe', 1905), ('Africa', 1922), ('Asia', 1947)]

In [62]:
%%sql SELECT continent, country, MIN(indep_year) AS first_independence
FROM states
WHERE indep_year > 1900
GROUP BY continent, country
HAVING first_independence = indep_year
ORDER BY first_independence;

 * sqlite://
Done.

[('Oceania', 'Australia', 1901),
 ('Europe', 'Norway', 1905),
 ('Africa', 'Egypt', 1922),
 ('Asia', 'India', 1947),
 ('Asia', 'Pakistan', 1947),
 ('Asia', 'Oman', 1951),
 ('Asia', 'Brunei', 1984)]

#### Part 2

###### JOINS

In [74]:
%%sql SELECT s.country, p.president, s.indep_year
FROM states AS s
INNER JOIN presidents AS p
ON s.country = p.country
WHERE s.indep_year IS NOT NULL
ORDER BY s.indep_year;

 * sqlite://
Done.

[('Portugal', 'Marcelo Rebelo de Sousa', 1143),
 ('USA', 'Joe Biden', 1776),
 ('Chile', 'Gabriel Boric', 1818),
 ('Uruguay', 'Luis Lacalle Pou', 1825),
 ('Egypt', 'Abdel Fattah el-Sisi', 1922),
 ('India', 'Ram Nath Kovind', 1947),
 ('Pakistan', 'Arif Alvi', 1947)]

In [76]:
%%sql SELECT s.country, p.prime_minister
FROM states AS s
INNER JOIN prime_ministers AS p
ON s.country = p.country;

 * sqlite://
Done.

[('Australia', 'Scott Morrison'),
 ('Brunei', 'Hassanal Bolkiah'),
 ('Egypt', 'Mostafa Madbouly'),
 ('India', 'Narendra Modi'),
 ('Norway', 'Jonas Gahr Støre'),
 ('Oman', 'Haitham bin Tarik'),
 ('Pakistan', 'Shehbaz Sharif'),
 ('Portugal', 'António Costa')]

In [82]:
%%sql SELECT s.country, prime_minister
FROM states AS s
LEFT JOIN prime_ministers AS p
ON s.country = p.country;

 * sqlite://
Done.

[('Australia', 'Scott Morrison'),
 ('Brunei', 'Hassanal Bolkiah'),
 ('Chile', None),
 ('Egypt', 'Mostafa Madbouly'),
 ('India', 'Narendra Modi'),
 ('Norway', 'Jonas Gahr Støre'),
 ('Oman', 'Haitham bin Tarik'),
 ('Pakistan', 'Shehbaz Sharif'),
 ('Portugal', 'António Costa'),
 ('Uruguay', None),
 ('USA', None)]

In [88]:
%%sql SELECT monarch, s.country
FROM monarchs
CROSS JOIN states AS s;

 * sqlite://
Done.

[('Hassanal Bolkiah', 'Australia'),
 ('Hassanal Bolkiah', 'Brunei'),
 ('Hassanal Bolkiah', 'Chile'),
 ('Hassanal Bolkiah', 'Egypt'),
 ('Hassanal Bolkiah', 'India'),
 ('Hassanal Bolkiah', 'Norway'),
 ('Hassanal Bolkiah', 'Oman'),
 ('Hassanal Bolkiah', 'Pakistan'),
 ('Hassanal Bolkiah', 'Portugal'),
 ('Hassanal Bolkiah', 'Uruguay'),
 ('Hassanal Bolkiah', 'USA'),
 ('Harald V', 'Australia'),
 ('Harald V', 'Brunei'),
 ('Harald V', 'Chile'),
 ('Harald V', 'Egypt'),
 ('Harald V', 'India'),
 ('Harald V', 'Norway'),
 ('Harald V', 'Oman'),
 ('Harald V', 'Pakistan'),
 ('Harald V', 'Portugal'),
 ('Harald V', 'Uruguay'),
 ('Harald V', 'USA'),
 ('Haitham bin Tarik', 'Australia'),
 ('Haitham bin Tarik', 'Brunei'),
 ('Haitham bin Tarik', 'Chile'),
 ('Haitham bin Tarik', 'Egypt'),
 ('Haitham bin Tarik', 'India'),
 ('Haitham bin Tarik', 'Norway'),
 ('Haitham bin Tarik', 'Oman'),
 ('Haitham bin Tarik', 'Pakistan'),
 ('Haitham bin Tarik', 'Portugal'),
 ('Haitham bin Tarik', 'Uruguay'),
 ('Haitham bin Tarik', 'USA'),
 ('Queen Elizabeth II', 'Australia'),
 ('Queen Elizabeth II', 'Brunei'),
 ('Queen Elizabeth II', 'Chile'),
 ('Queen Elizabeth II', 'Egypt'),
 ('Queen Elizabeth II', 'India'),
 ('Queen Elizabeth II', 'Norway'),
 ('Queen Elizabeth II', 'Oman'),
 ('Queen Elizabeth II', 'Pakistan'),
 ('Queen Elizabeth II', 'Portugal'),
 ('Queen Elizabeth II', 'Uruguay'),
 ('Queen Elizabeth II', 'USA')]

In [96]:
%%sql SELECT country, p2.prime_minister, pm_start
FROM prime_minister_terms AS p1
INNER JOIN prime_ministers AS p2
ON p1.prime_minister = p2.prime_minister
WHERE pm_start > 2000;

 * sqlite://
Done.

[('Egypt', 'Mostafa Madbouly', 2018),
 ('Portugal', 'António Costa', 2015),
 ('Pakistan', 'Shehbaz Sharif', 2022),
 ('United Kingdom', 'Boris Johnson', 2019),
 ('India', 'Narendra Modi', 2014),
 ('Australia', 'Scott Morrison', 2018),
 ('Norway', 'Jonas Gahr Støre', 2021),
 ('Oman', 'Haitham bin Tarik', 2020),
 ('New Zealand', 'Jacinda Ardern', 2017)]

In [97]:
%%sql SELECT country
FROM states
EXCEPT
SELECT country
FROM presidents;

 * sqlite://
Done.

[('Australia',), ('Brunei',), ('Norway',), ('Oman',)]

In [99]:
%%sql SELECT country
FROM states
WHERE country NOT IN (SELECT country
                      FROM presidents);

 * sqlite://
Done.

[('Australia',), ('Brunei',), ('Norway',), ('Oman',)]

In [100]:
%%sql SELECT country, pm_start
FROM prime_minister_terms AS p1
INNER JOIN prime_ministers AS p2
ON p1.prime_minister = p2.prime_minister
ORDER BY pm_start;

 * sqlite://
Done.

[('Brunei', 1984),
 ('India', 2014),
 ('Portugal', 2015),
 ('New Zealand', 2017),
 ('Egypt', 2018),
 ('Australia', 2018),
 ('United Kingdom', 2019),
 ('Oman', 2020),
 ('Norway', 2021),
 ('Pakistan', 2022)]

In [102]:
%%sql SELECT monarch, prime_minister, pm_start + 2 AS year
FROM monarchs
CROSS JOIN prime_minister_terms
ORDER BY pm_start;

 * sqlite://
Done.

[('Hassanal Bolkiah', 'Hassanal Bolkiah', 1986),
 ('Harald V', 'Hassanal Bolkiah', 1986),
 ('Haitham bin Tarik', 'Hassanal Bolkiah', 1986),
 ('Queen Elizabeth II', 'Hassanal Bolkiah', 1986),
 ('Hassanal Bolkiah', 'Narendra Modi', 2016),
 ('Harald V', 'Narendra Modi', 2016),
 ('Haitham bin Tarik', 'Narendra Modi', 2016),
 ('Queen Elizabeth II', 'Narendra Modi', 2016),
 ('Hassanal Bolkiah', 'António Costa', 2017),
 ('Harald V', 'António Costa', 2017),
 ('Haitham bin Tarik', 'António Costa', 2017),
 ('Queen Elizabeth II', 'António Costa', 2017),
 ('Hassanal Bolkiah', 'Jacinda Ardern', 2019),
 ('Harald V', 'Jacinda Ardern', 2019),
 ('Haitham bin Tarik', 'Jacinda Ardern', 2019),
 ('Queen Elizabeth II', 'Jacinda Ardern', 2019),
 ('Hassanal Bolkiah', 'Mostafa Madbouly', 2020),
 ('Hassanal Bolkiah', 'Scott Morrison', 2020),
 ('Harald V', 'Mostafa Madbouly', 2020),
 ('Harald V', 'Scott Morrison', 2020),
 ('Haitham bin Tarik', 'Mostafa Madbouly', 2020),
 ('Haitham bin Tarik', 'Scott Morrison', 2020),
 ('Queen Elizabeth II', 'Mostafa Madbouly', 2020),
 ('Queen Elizabeth II', 'Scott Morrison', 2020),
 ('Hassanal Bolkiah', 'Boris Johnson', 2021),
 ('Harald V', 'Boris Johnson', 2021),
 ('Haitham bin Tarik', 'Boris Johnson', 2021),
 ('Queen Elizabeth II', 'Boris Johnson', 2021),
 ('Hassanal Bolkiah', 'Haitham bin Tarik', 2022),
 ('Harald V', 'Haitham bin Tarik', 2022),
 ('Haitham bin Tarik', 'Haitham bin Tarik', 2022),
 ('Queen Elizabeth II', 'Haitham bin Tarik', 2022),
 ('Hassanal Bolkiah', 'Jonas Gahr Støre', 2023),
 ('Harald V', 'Jonas Gahr Støre', 2023),
 ('Haitham bin Tarik', 'Jonas Gahr Støre', 2023),
 ('Queen Elizabeth II', 'Jonas Gahr Støre', 2023),
 ('Hassanal Bolkiah', 'Shehbaz Sharif', 2024),
 ('Harald V', 'Shehbaz Sharif', 2024),
 ('Haitham bin Tarik', 'Shehbaz Sharif', 2024),
 ('Queen Elizabeth II', 'Shehbaz Sharif', 2024)]

In [109]:
%%sql SELECT s.continent,
             s.country,
             pr.president AS president,
             pm.prime_minister AS prime_minister
FROM states AS s, prime_ministers AS pm
LEFT JOIN presidents AS pr
ON pr.country = s.country OR s.country = pm.country

 * sqlite://
Done.

[('Oceania', 'Australia', None, 'Mostafa Madbouly'),
 ('Oceania', 'Australia', None, 'António Costa'),
 ('Oceania', 'Australia', None, 'Shehbaz Sharif'),
 ('Oceania', 'Australia', None, 'Boris Johnson'),
 ('Oceania', 'Australia', None, 'Narendra Modi'),
 ('Oceania', 'Australia', 'Abdel Fattah el-Sisi', 'Scott Morrison'),
 ('Oceania', 'Australia', 'Marcelo Rebelo de Sousa', 'Scott Morrison'),
 ('Oceania', 'Australia', 'Joe Biden', 'Scott Morrison'),
 ('Oceania', 'Australia', 'Luis Lacalle Pou', 'Scott Morrison'),
 ('Oceania', 'Australia', 'Arif Alvi', 'Scott Morrison'),
 ('Oceania', 'Australia', 'Gabriel Boric', 'Scott Morrison'),
 ('Oceania', 'Australia', 'Ram Nath Kovind', 'Scott Morrison'),
 ('Oceania', 'Australia', None, 'Jonas Gahr Støre'),
 ('Oceania', 'Australia', None, 'Hassanal Bolkiah'),
 ('Oceania', 'Australia', None, 'Haitham bin Tarik'),
 ('Oceania', 'Australia', None, 'Jacinda Ardern'),
 ('Asia', 'Brunei', None, 'Mostafa Madbouly'),
 ('Asia', 'Brunei', None, 'António Costa'),
 ('Asia', 'Brunei', None, 'Shehbaz Sharif'),
 ('Asia', 'Brunei', None, 'Boris Johnson'),
 ('Asia', 'Brunei', None, 'Narendra Modi'),
 ('Asia', 'Brunei', None, 'Scott Morrison'),
 ('Asia', 'Brunei', None, 'Jonas Gahr Støre'),
 ('Asia', 'Brunei', 'Abdel Fattah el-Sisi', 'Hassanal Bolkiah'),
 ('Asia', 'Brunei', 'Marcelo Rebelo de Sousa', 'Hassanal Bolkiah'),
 ('Asia', 'Brunei', 'Joe Biden', 'Hassanal Bolkiah'),
 ('Asia', 'Brunei', 'Luis Lacalle Pou', 'Hassanal Bolkiah'),
 ('Asia', 'Brunei', 'Arif Alvi', 'Hassanal Bolkiah'),
 ('Asia', 'Brunei', 'Gabriel Boric', 'Hassanal Bolkiah'),
 ('Asia', 'Brunei', 'Ram Nath Kovind', 'Hassanal Bolkiah'),
 ('Asia', 'Brunei', None, 'Haitham bin Tarik'),
 ('Asia', 'Brunei', None, 'Jacinda Ardern'),
 ('South America', 'Chile', 'Gabriel Boric', 'Mostafa Madbouly'),
 ('South America', 'Chile', 'Gabriel Boric', 'António Costa'),
 ('South America', 'Chile', 'Gabriel Boric', 'Shehbaz Sharif'),
 ('South America', 'Chile', 'Gabriel Boric', 'Boris Johnson'),
 ('South America', 'Chile', 'Gabriel Boric', 'Narendra Modi'),
 ('South America', 'Chile', 'Gabriel Boric', 'Scott Morrison'),
 ('South America', 'Chile', 'Gabriel Boric', 'Jonas Gahr Støre'),
 ('South America', 'Chile', 'Gabriel Boric', 'Hassanal Bolkiah'),
 ('South America', 'Chile', 'Gabriel Boric', 'Haitham bin Tarik'),
 ('South America', 'Chile', 'Gabriel Boric', 'Jacinda Ardern'),
 ('Africa', 'Egypt', 'Abdel Fattah el-Sisi', 'Mostafa Madbouly'),
 ('Africa', 'Egypt', 'Marcelo Rebelo de Sousa', 'Mostafa Madbouly'),
 ('Africa', 'Egypt', 'Joe Biden', 'Mostafa Madbouly'),
 ('Africa', 'Egypt', 'Luis Lacalle Pou', 'Mostafa Madbouly'),
 ('Africa', 'Egypt', 'Arif Alvi', 'Mostafa Madbouly'),
 ('Africa', 'Egypt', 'Gabriel Boric', 'Mostafa Madbouly'),
 ('Africa', 'Egypt', 'Ram Nath Kovind', 'Mostafa Madbouly'),
 ('Africa', 'Egypt', 'Abdel Fattah el-Sisi', 'António Costa'),
 ('Africa', 'Egypt', 'Abdel Fattah el-Sisi', 'Shehbaz Sharif'),
 ('Africa', 'Egypt', 'Abdel Fattah el-Sisi', 'Boris Johnson'),
 ('Africa', 'Egypt', 'Abdel Fattah el-Sisi', 'Narendra Modi'),
 ('Africa', 'Egypt', 'Abdel Fattah el-Sisi', 'Scott Morrison'),
 ('Africa', 'Egypt', 'Abdel Fattah el-Sisi', 'Jonas Gahr Støre'),
 ('Africa', 'Egypt', 'Abdel Fattah el-Sisi', 'Hassanal Bolkiah'),
 ('Africa', 'Egypt', 'Abdel Fattah el-Sisi', 'Haitham bin Tarik'),
 ('Africa', 'Egypt', 'Abdel Fattah el-Sisi', 'Jacinda Ardern'),
 ('Asia', 'India', 'Ram Nath Kovind', 'Mostafa Madbouly'),
 ('Asia', 'India', 'Ram Nath Kovind', 'António Costa'),
 ('Asia', 'India', 'Ram Nath Kovind', 'Shehbaz Sharif'),
 ('Asia', 'India', 'Ram Nath Kovind', 'Boris Johnson'),
 ('Asia', 'India', 'Abdel Fattah el-Sisi', 'Narendra Modi'),
 ('Asia', 'India', 'Marcelo Rebelo de Sousa', 'Narendra Modi'),
 ('Asia', 'India', 'Joe Biden', 'Narendra Modi'),
 ('Asia', 'India', 'Luis Lacalle Pou', 'Narendra Modi'),
 ('Asia', 'India', 'Arif Alvi', 'Narendra Modi'),
 ('Asia', 'India', 'Gabriel Boric', 'Narendra Modi'),
 ('Asia', 'India', 'Ram Nath Kovind', 'Narendra Modi'),
 ('Asia', 'India', 'Ram Nath Kovind', 'Scott Morrison'),
 ('Asia', 'India', 'Ram Nath Kovind', 'Jonas Gahr Støre'),
 ('Asia', 'India', 'Ram Nath Kovind', 'Hassanal Bolkiah'),
 ('Asia', 'India', 'Ram Nath Kovind', 'Haitham bin Tarik'),
 ('Asia', 'India', 'Ram Nath Kovind', 'Jacinda Ardern'),
 ('Europe', 'Norway', None, 'Mostafa Madbouly'),
 ('Europe', 'Norway', None, 'António Costa'),
 ('Europe', 'Norway', None, 'Shehbaz Sharif'),
 ('Europe', 'Norway', None, 'Boris Johnson'),
 ('Europe', 'Norway', None, 'Narendra Modi'),
 ('Europe', 'Norway', None, 'Scott Morrison'),
 ('Europe', 'Norway', 'Abdel Fattah el-Sisi', 'Jonas Gahr Støre'),
 ('Europe', 'Norway', 'Marcelo Rebelo de Sousa', 'Jonas Gahr Støre'),
 ('Europe', 'Norway', 'Joe Biden', 'Jonas Gahr Støre'),
 ('Europe', 'Norway', 'Luis Lacalle Pou', 'Jonas Gahr Støre'),
 ('Europe', 'Norway', 'Arif Alvi', 'Jonas Gahr Støre'),
 ('Europe', 'Norway', 'Gabriel Boric', 'Jonas Gahr Støre'),
 ('Europe', 'Norway', 'Ram Nath Kovind', 'Jonas Gahr Støre'),
 ('Europe', 'Norway', None, 'Hassanal Bolkiah'),
 ('Europe', 'Norway', None, 'Haitham bin Tarik'),
 ('Europe', 'Norway', None, 'Jacinda Ardern'),
 ('Asia', 'Oman', None, 'Mostafa Madbouly'),
 ('Asia', 'Oman', None, 'António Costa'),
 ('Asia', 'Oman', None, 'Shehbaz Sharif'),
 ('Asia', 'Oman', None, 'Boris Johnson'),
 ('Asia', 'Oman', None, 'Narendra Modi'),
 ('Asia', 'Oman', None, 'Scott Morrison'),
 ('Asia', 'Oman', None, 'Jonas Gahr Støre'),
 ('Asia', 'Oman', None, 'Hassanal Bolkiah'),
 ('Asia', 'Oman', 'Abdel Fattah el-Sisi', 'Haitham bin Tarik'),
 ('Asia', 'Oman', 'Marcelo Rebelo de Sousa', 'Haitham bin Tarik'),
 ('Asia', 'Oman', 'Joe Biden', 'Haitham bin Tarik'),
 ('Asia', 'Oman', 'Luis Lacalle Pou', 'Haitham bin Tarik'),
 ('Asia', 'Oman', 'Arif Alvi', 'Haitham bin Tarik'),
 ('Asia', 'Oman', 'Gabriel Boric', 'Haitham bin Tarik'),
 ('Asia', 'Oman', 'Ram Nath Kovind', 'Haitham bin Tarik'),
 ('Asia', 'Oman', None, 'Jacinda Ardern'),
 ('Asia', 'Pakistan', 'Arif Alvi', 'Mostafa Madbouly'),
 ('Asia', 'Pakistan', 'Arif Alvi', 'António Costa'),
 ('Asia', 'Pakistan', 'Abdel Fattah el-Sisi', 'Shehbaz Sharif'),
 ('Asia', 'Pakistan', 'Marcelo Rebelo de Sousa', 'Shehbaz Sharif'),
 ('Asia', 'Pakistan', 'Joe Biden', 'Shehbaz Sharif'),
 ('Asia', 'Pakistan', 'Luis Lacalle Pou', 'Shehbaz Sharif'),
 ('Asia', 'Pakistan', 'Arif Alvi', 'Shehbaz Sharif'),
 ('Asia', 'Pakistan', 'Gabriel Boric', 'Shehbaz Sharif'),
 ('Asia', 'Pakistan', 'Ram Nath Kovind', 'Shehbaz Sharif'),
 ('Asia', 'Pakistan', 'Arif Alvi', 'Boris Johnson'),
 ('Asia', 'Pakistan', 'Arif Alvi', 'Narendra Modi'),
 ('Asia', 'Pakistan', 'Arif Alvi', 'Scott Morrison'),
 ('Asia', 'Pakistan', 'Arif Alvi', 'Jonas Gahr Støre'),
 ('Asia', 'Pakistan', 'Arif Alvi', 'Hassanal Bolkiah'),
 ('Asia', 'Pakistan', 'Arif Alvi', 'Haitham bin Tarik'),
 ('Asia', 'Pakistan', 'Arif Alvi', 'Jacinda Ardern'),
 ('Europe', 'Portugal', 'Marcelo Rebelo de Sousa', 'Mostafa Madbouly'),
 ('Europe', 'Portugal', 'Abdel Fattah el-Sisi', 'António Costa'),
 ('Europe', 'Portugal', 'Marcelo Rebelo de Sousa', 'António Costa'),
 ('Europe', 'Portugal', 'Joe Biden', 'António Costa'),
 ('Europe', 'Portugal', 'Luis Lacalle Pou', 'António Costa'),
 ('Europe', 'Portugal', 'Arif Alvi', 'António Costa'),
 ('Europe', 'Portugal', 'Gabriel Boric', 'António Costa'),
 ('Europe', 'Portugal', 'Ram Nath Kovind', 'António Costa'),
 ('Europe', 'Portugal', 'Marcelo Rebelo de Sousa', 'Shehbaz Sharif'),
 ('Europe', 'Portugal', 'Marcelo Rebelo de Sousa', 'Boris Johnson'),
 ('Europe', 'Portugal', 'Marcelo Rebelo de Sousa', 'Narendra Modi'),
 ('Europe', 'Portugal', 'Marcelo Rebelo de Sousa', 'Scott Morrison'),
 ('Europe', 'Portugal', 'Marcelo Rebelo de Sousa', 'Jonas Gahr Støre'),
 ('Europe', 'Portugal', 'Marcelo Rebelo de Sousa', 'Hassanal Bolkiah'),
 ('Europe', 'Portugal', 'Marcelo Rebelo de Sousa', 'Haitham bin Tarik'),
 ('Europe', 'Portugal', 'Marcelo Rebelo de Sousa', 'Jacinda Ardern'),
 ('South America', 'Uruguay', 'Luis Lacalle Pou', 'Mostafa Madbouly'),
 ('South America', 'Uruguay', 'Luis Lacalle Pou', 'António Costa'),
 ('South America', 'Uruguay', 'Luis Lacalle Pou', 'Shehbaz Sharif'),
 ('South America', 'Uruguay', 'Luis Lacalle Pou', 'Boris Johnson'),
 ('South America', 'Uruguay', 'Luis Lacalle Pou', 'Narendra Modi'),
 ('South America', 'Uruguay', 'Luis Lacalle Pou', 'Scott Morrison'),
 ('South America', 'Uruguay', 'Luis Lacalle Pou', 'Jonas Gahr Støre'),
 ('South America', 'Uruguay', 'Luis Lacalle Pou', 'Hassanal Bolkiah'),
 ('South America', 'Uruguay', 'Luis Lacalle Pou', 'Haitham bin Tarik'),
 ('South America', 'Uruguay', 'Luis Lacalle Pou', 'Jacinda Ardern'),
 ('North America', 'USA', 'Joe Biden', 'Mostafa Madbouly'),
 ('North America', 'USA', 'Joe Biden', 'António Costa'),
 ('North America', 'USA', 'Joe Biden', 'Shehbaz Sharif'),
 ('North America', 'USA', 'Joe Biden', 'Boris Johnson'),
 ('North America', 'USA', 'Joe Biden', 'Narendra Modi'),
 ('North America', 'USA', 'Joe Biden', 'Scott Morrison'),
 ('North America', 'USA', 'Joe Biden', 'Jonas Gahr Støre'),
 ('North America', 'USA', 'Joe Biden', 'Hassanal Bolkiah'),
 ('North America', 'USA', 'Joe Biden', 'Haitham bin Tarik'),
 ('North America', 'USA', 'Joe Biden', 'Jacinda Ardern')]

In [111]:
%%sql SELECT s.continent,
             s.country,
             pr.president AS president,
             pm.prime_minister AS prime_minister
FROM states AS s
LEFT JOIN presidents AS pr
ON pr.country = s.country
LEFT JOIN prime_ministers AS pm
ON s.country = pm.country;

 * sqlite://
Done.

[('Oceania', 'Australia', None, 'Scott Morrison'),
 ('Asia', 'Brunei', None, 'Hassanal Bolkiah'),
 ('South America', 'Chile', 'Gabriel Boric', None),
 ('Africa', 'Egypt', 'Abdel Fattah el-Sisi', 'Mostafa Madbouly'),
 ('Asia', 'India', 'Ram Nath Kovind', 'Narendra Modi'),
 ('Europe', 'Norway', None, 'Jonas Gahr Støre'),
 ('Asia', 'Oman', None, 'Haitham bin Tarik'),
 ('Asia', 'Pakistan', 'Arif Alvi', 'Shehbaz Sharif'),
 ('Europe', 'Portugal', 'Marcelo Rebelo de Sousa', 'António Costa'),
 ('South America', 'Uruguay', 'Luis Lacalle Pou', None),
 ('North America', 'USA', 'Joe Biden', None)]

In [128]:
%%sql SELECT p1.continent,
             p2.prime_minister,
             (SELECT AVG(pm_start)
             FROM prime_ministers AS p3
             WHERE p3.continent = p1.continent) AS avg_term
FROM prime_ministers AS p1
CROSS JOIN prime_minister_terms AS p2

 * sqlite://
Done.

[('Africa', 'Mostafa Madbouly', 2014.8)]

In [133]:
%%sql SELECT s.continent,
             p1.prime_minister,
             (SELECT AVG(pm_start)
             FROM prime_ministers AS p2
             WHERE p2.continent = s.continent) AS avg_term
FROM states AS s
CROSS JOIN prime_minister_terms AS p1;

 * sqlite://
Done.

[('Oceania', 'Mostafa Madbouly', 2014.8)]

In [134]:
%%sql SELECT continent, AVG(pm_start) AS avg_term
FROM prime_minister_terms
CROSS JOIN prime_ministers
GROUP BY continent;

 * sqlite://
Done.

[('Africa', 2014.8), ('Asia', 2014.8), ('Europe', 2014.8), ('Oceania', 2014.8)]