<a href="https://colab.research.google.com/github/UznetDev/Data-science-home-work/blob/main/24_Avg_2024_home_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SQL**

### Import librares

In [ ]:
import pandas as pd

### Set-up for SQL

In [ ]:
%load_ext sql
%sql sqlite://

##### Load dataset

In [ ]:
monarchs = pd.read_csv('monarchs.csv')
presidents = pd.read_csv('presidents.csv')
prime_minister_terms = pd.read_csv('prime_minister_terms.csv')
prime_ministers = pd.read_csv('prime_ministers.csv')
states = pd.read_csv('states.csv')

##### Upload dataset to SQL

In [ ]:
%sql DROP TABLE IF EXISTS monarchs;
%sql --persist monarchs

%sql DROP TABLE IF EXISTS presidents;
%sql --persist presidents

%sql DROP TABLE IF EXISTS prime_minister_terms;
%sql --persist prime_minister_terms

%sql DROP TABLE IF EXISTS prime_ministers;
%sql --persist prime_ministers

%sql DROP TABLE IF EXISTS states;
%sql --persist states

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://

'Persisted states'

### Home work

CASE WHEN and GROUP BY Write a query to list each continent and the number of countries it contains. Additionally, categorize each continent as 'Small' if it has fewer than 10 countries, 'Medium' if it has between 10 and 20 countries, and 'Large' if it has more than 20 countries. Use CASE WHEN in the SELECT clause and GROUP BY the continent.

In [ ]:
%%sql
SELECT continent,
    COUNT(*) AS country_count,
    CASE
        WHEN COUNT(*) < 10 THEN 'Small'
        WHEN COUNT(*) BETWEEN 10 AND 20 THEN 'Medium'
        ELSE 'Large'
    END AS continent_size
FROM states
GROUP BY continent;

 * sqlite://
Done.

[('Africa', 1, 'Small'),
 ('Asia', 4, 'Small'),
 ('Europe', 2, 'Small'),
 ('North America', 1, 'Small'),
 ('Oceania', 1, 'Small'),
 ('South America', 2, 'Small')]

Window Functions: ROW_NUMBER() and ORDER BY Write a query to list all countries along with their prime ministers and assign a unique row number to each prime minister within each country, ordered by the start year (pm_start). Use the ROW_NUMBER() window function and ORDER BY in your query.

In [ ]:
%%sql
SELECT country, prime_minister, pm_start,
    ROW_NUMBER()
      OVER (PARTITION BY country
            ORDER BY pm_start) AS row_num
FROM prime_minister_terms AS p1
INNER JOIN prime_ministers AS p2
USING(prime_minister)
ORDER BY country, pm_start;

 * sqlite://
Done.

[('Australia', 'Scott Morrison', 2018, 1),
 ('Brunei', 'Hassanal Bolkiah', 1984, 1),
 ('Egypt', 'Mostafa Madbouly', 2018, 1),
 ('India', 'Narendra Modi', 2014, 1),
 ('New Zealand', 'Jacinda Ardern', 2017, 1),
 ('Norway', 'Jonas Gahr Støre', 2021, 1),
 ('Oman', 'Haitham bin Tarik', 2020, 1),
 ('Pakistan', 'Shehbaz Sharif', 2022, 1),
 ('Portugal', 'António Costa', 2015, 1),
 ('United Kingdom', 'Boris Johnson', 2019, 1)]

Simple Subquery with WHERE Write a query to list all countries where the president's name is the same as the prime minister's name. Use a simple subquery within the WHERE clause to compare the names.

In [ ]:
%%sql
SELECT DISTINCT country
FROM presidents
WHERE president IN (
  SELECT prime_minister
  FROM prime_minister_terms);

 * sqlite://
Done.

[]

Correlated Subquery with SELECT Write a query to list all countries along with their continent and the most recent pm_start year for each country. Use a correlated subquery within the SELECT clause to find the most recent pm_start for each country.

In [ ]:
%%sql
SELECT country, continent,
  (SELECT MAX(pm_start)
   FROM prime_minister_terms AS p1
   INNER JOIN prime_ministers AS p2
   USING(prime_minister)
   WHERE p.country = p2.country) AS max_pm_start
FROM states AS p;

 * sqlite://
Done.

[('Australia', 'Oceania', 2018),
 ('Brunei', 'Asia', 1984),
 ('Chile', 'South America', None),
 ('Egypt', 'Africa', 2018),
 ('India', 'Asia', 2014),
 ('Norway', 'Europe', 2021),
 ('Oman', 'Asia', 2020),
 ('Pakistan', 'Asia', 2022),
 ('Portugal', 'Europe', 2015),
 ('Uruguay', 'South America', None),
 ('USA', 'North America', None)]

INNER JOIN and CASE WHEN Write a query to list all countries along with their president's name and indicate whether the country has a prime minister ('Yes' or 'No'). Use an INNER JOIN between states and presidents, and a CASE WHEN clause to check for the presence of a prime minister.

In [ ]:
%%sql
SELECT country, president,
  CASE
    WHEN country IN (SELECT country
    FROM prime_minister_terms) THEN 'Yes'
    ELSE 'No'
  END AS has_prime_minister
FROM states
INNER JOIN presidents
USING(country);

 * sqlite://
Done.

[('Chile', 'Gabriel Boric', 'Yes'),
 ('Egypt', 'Abdel Fattah el-Sisi', 'Yes'),
 ('India', 'Ram Nath Kovind', 'Yes'),
 ('Pakistan', 'Arif Alvi', 'Yes'),
 ('Portugal', 'Marcelo Rebelo de Sousa', 'Yes'),
 ('Uruguay', 'Luis Lacalle Pou', 'Yes'),
 ('USA', 'Joe Biden', 'Yes')]

LEFT JOIN with Aggregates Write a query to list all countries along with the total number of prime ministers each country has had. Include all countries even if they have never had a prime minister by using a LEFT JOIN between states and prime_ministers, and aggregate the results.

In [28]:
%%sql
SELECT s.country,
  COUNT(prime_minister) AS count_pm
FROM states AS s
LEFT JOIN prime_ministers AS p
USING(country)
GROUP BY country;

 * sqlite://
Done.

[('Australia', 1),
 ('Brunei', 1),
 ('Chile', 0),
 ('Egypt', 1),
 ('India', 1),
 ('Norway', 1),
 ('Oman', 1),
 ('Pakistan', 1),
 ('Portugal', 1),
 ('USA', 0),
 ('Uruguay', 0)]

GROUP BY with HAVING Write a query to list all continents and the total number of countries in each, but only include continents that have more than 5 countries. Use GROUP BY to group by continent and HAVING to filter the results.

In [32]:
%%sql
SELECT continent, COUNT(*) AS country_count
FROM states
GROUP BY continent
HAVING country_count > 1;

 * sqlite://
Done.

[('Asia', 4), ('Europe', 2), ('South America', 2)]

In [33]:
%%sql
SELECT continent, COUNT(*) AS country_count
FROM states
GROUP BY continent
HAVING country_count > 5;

 * sqlite://
Done.

[]

Window Functions: RANK() with ORDER BY Write a query to list all countries along with their continent and the rank of their prime minister based on the start year (pm_start), ordered from the earliest to the latest. Use the RANK() window function to rank the prime ministers within each continent and ORDER BY to sort the results.

In [35]:
%%sql
SELECT country,
  continent,
  prime_minister,
  pm_start,
  RANK()
    OVER (PARTITION BY continent
          ORDER BY pm_start) AS pm_rank
FROM prime_minister_terms AS p1
INNER JOIN prime_ministers AS p2
USING(prime_minister)
ORDER BY continent, pm_rank;

 * sqlite://
Done.

[('Egypt', 'Africa', 'Mostafa Madbouly', 2018, 1),
 ('Brunei', 'Asia', 'Hassanal Bolkiah', 1984, 1),
 ('India', 'Asia', 'Narendra Modi', 2014, 2),
 ('Oman', 'Asia', 'Haitham bin Tarik', 2020, 3),
 ('Pakistan', 'Asia', 'Shehbaz Sharif', 2022, 4),
 ('Portugal', 'Europe', 'António Costa', 2015, 1),
 ('United Kingdom', 'Europe', 'Boris Johnson', 2019, 2),
 ('Norway', 'Europe', 'Jonas Gahr Støre', 2021, 3),
 ('New Zealand', 'Oceania', 'Jacinda Ardern', 2017, 1),
 ('Australia', 'Oceania', 'Scott Morrison', 2018, 2)]

Simple Subquery in SELECT Write a query to list all countries along with their continent and the earliest pm_start year for each country. Use a simple subquery within the SELECT clause to find the earliest pm_start for each country.

In [36]:
%%sql
SELECT country, continent,
  (SELECT MIN(pm_start)
   FROM prime_minister_terms AS p1
   INNER JOIN prime_ministers AS p2
   USING(prime_minister)
   WHERE p.country = p2.country
   GROUP BY country) AS min_pm_start
FROM states AS p;

 * sqlite://
Done.

[('Australia', 'Oceania', 2018),
 ('Brunei', 'Asia', 1984),
 ('Chile', 'South America', None),
 ('Egypt', 'Africa', 2018),
 ('India', 'Asia', 2014),
 ('Norway', 'Europe', 2021),
 ('Oman', 'Asia', 2020),
 ('Pakistan', 'Asia', 2022),
 ('Portugal', 'Europe', 2015),
 ('Uruguay', 'South America', None),
 ('USA', 'North America', None)]

Nested Subquery with WHERE Write a query to list all countries where the president's name matches the prime minister's name in the continent that has the highest average independence year. Use nested subqueries in the WHERE clause to filter the countries.

In [39]:
%%sql
WITH mcha AS (
    SELECT continent
    FROM states
    GROUP BY continent
    ORDER BY AVG(indep_year) DESC
    LIMIT 1
)

SELECT country, continent
FROM states AS s
WHERE continent IN mcha
AND country in (
    SELECT p.country
    FROM presidents AS p
    INNER JOIN prime_ministers AS pm
    ON p.country = pm.country
    WHERE p.president = pm.prime_minister
    AND p.country = s.country
)

 * sqlite://
Done.

[]

#END