<a href="https://colab.research.google.com/github/UznetDev/Data-science-home-work/blob/main/24_Avg_2024_home_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SQL**

### Import librares

In [2]:
import pandas as pd

### Set-up for SQL

In [3]:
%load_ext sql
%sql sqlite://

##### Load dataset

In [4]:
monarchs = pd.read_csv('monarchs.csv')
presidents = pd.read_csv('presidents.csv')
prime_minister_terms = pd.read_csv('prime_minister_terms.csv')
prime_ministers = pd.read_csv('prime_ministers.csv')
states = pd.read_csv('states.csv')

##### Upload dataset to SQL

In [5]:
%sql DROP TABLE IF EXISTS monarchs;
%sql --persist monarchs

%sql DROP TABLE IF EXISTS presidents;
%sql --persist presidents

%sql DROP TABLE IF EXISTS prime_minister_terms;
%sql --persist prime_minister_terms

%sql DROP TABLE IF EXISTS prime_ministers;
%sql --persist prime_ministers

%sql DROP TABLE IF EXISTS states;
%sql --persist states

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://

'Persisted states'

### Home work

CASE WHEN and GROUP BY Write a query to list each continent and the number of countries it contains. Additionally, categorize each continent as 'Small' if it has fewer than 10 countries, 'Medium' if it has between 10 and 20 countries, and 'Large' if it has more than 20 countries. Use CASE WHEN in the SELECT clause and GROUP BY the continent.

In [7]:
%%sql
SELECT continent,
    COUNT(*) AS country_count,
    CASE
        WHEN COUNT(*) < 10 THEN 'Small'
        WHEN COUNT(*) BETWEEN 10 AND 20 THEN 'Medium'
        ELSE 'Large'
    END AS continent_size
FROM states
GROUP BY continent;

 * sqlite://
Done.

[('Africa', 1, 'Small'),
 ('Asia', 4, 'Small'),
 ('Europe', 2, 'Small'),
 ('North America', 1, 'Small'),
 ('Oceania', 1, 'Small'),
 ('South America', 2, 'Small')]

Window Functions: ROW_NUMBER() and ORDER BY Write a query to list all countries along with their prime ministers and assign a unique row number to each prime minister within each country, ordered by the start year (pm_start). Use the ROW_NUMBER() window function and ORDER BY in your query.

In [13]:
%%sql
SELECT country, prime_minister, pm_start,
    ROW_NUMBER()
      OVER (PARTITION BY country
            ORDER BY pm_start) AS row_num
FROM prime_minister_terms AS p1
INNER JOIN prime_ministers AS p2
USING(prime_minister)
ORDER BY country, pm_start;

 * sqlite://
Done.

[('Australia', 'Scott Morrison', 2018, 1),
 ('Brunei', 'Hassanal Bolkiah', 1984, 1),
 ('Egypt', 'Mostafa Madbouly', 2018, 1),
 ('India', 'Narendra Modi', 2014, 1),
 ('New Zealand', 'Jacinda Ardern', 2017, 1),
 ('Norway', 'Jonas Gahr Støre', 2021, 1),
 ('Oman', 'Haitham bin Tarik', 2020, 1),
 ('Pakistan', 'Shehbaz Sharif', 2022, 1),
 ('Portugal', 'António Costa', 2015, 1),
 ('United Kingdom', 'Boris Johnson', 2019, 1)]

Simple Subquery with WHERE Write a query to list all countries where the president's name is the same as the prime minister's name. Use a simple subquery within the WHERE clause to compare the names.

In [15]:
%%sql
SELECT DISTINCT country
FROM presidents
WHERE president IN (
  SELECT prime_minister
  FROM prime_minister_terms);

 * sqlite://
Done.

[]

Correlated Subquery with SELECT Write a query to list all countries along with their continent and the most recent pm_start year for each country. Use a correlated subquery within the SELECT clause to find the most recent pm_start for each country.

In [19]:
%%sql
SELECT country, continent,
  (SELECT MAX(pm_start)
   FROM prime_minister_terms AS p1
   INNER JOIN prime_ministers AS p2
   USING(prime_minister)
   WHERE p.country = p2.country) AS max_pm_start
FROM states AS p;

 * sqlite://
Done.

[('Australia', 'Oceania', 2018),
 ('Brunei', 'Asia', 1984),
 ('Chile', 'South America', None),
 ('Egypt', 'Africa', 2018),
 ('India', 'Asia', 2014),
 ('Norway', 'Europe', 2021),
 ('Oman', 'Asia', 2020),
 ('Pakistan', 'Asia', 2022),
 ('Portugal', 'Europe', 2015),
 ('Uruguay', 'South America', None),
 ('USA', 'North America', None)]