<a href="https://colab.research.google.com/github/UznetDev/Data-science-home-work/blob/main/28_Avg_2024_home_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SQL**

### Import librares

In [1]:
import pandas as pd

### Set-up for SQL

In [2]:
%load_ext sql
%sql sqlite://

##### Load dataset

In [4]:
monarchs = pd.read_csv('monarchs.csv')
presidents = pd.read_csv('presidents.csv')
prime_minister_terms = pd.read_csv('prime_minister_terms.csv')
prime_ministers = pd.read_csv('prime_ministers.csv')
states = pd.read_csv('states.csv')

##### Upload dataset to SQL

In [5]:
%sql DROP TABLE IF EXISTS monarchs;
%sql --persist monarchs

%sql DROP TABLE IF EXISTS presidents;
%sql --persist presidents

%sql DROP TABLE IF EXISTS prime_minister_terms;
%sql --persist prime_minister_terms

%sql DROP TABLE IF EXISTS prime_ministers;
%sql --persist prime_ministers

%sql DROP TABLE IF EXISTS states;
%sql --persist states

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://

'Persisted states'

##### View all table

In [6]:
%%sql SELECT * FROM monarchs LIMIT 1;

 * sqlite://
Done.

[(0, 'Brunei', 'Asia', 'Hassanal Bolkiah')]

In [7]:
%%sql SELECT * FROM presidents LIMIT 1;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Abdel Fattah el-Sisi')]

In [8]:
%%sql SELECT * FROM prime_minister_terms LIMIT 1;

 * sqlite://
Done.

[(0, 'Mostafa Madbouly', 2018)]

In [9]:
%%sql SELECT * FROM prime_ministers LIMIT 1;

 * sqlite://
Done.

[(0, 'Egypt', 'Africa', 'Mostafa Madbouly')]

In [10]:
%%sql SELECT * FROM states LIMIT 1;

 * sqlite://
Done.

[(0, 'Australia', 'Oceania', 1901)]

### Home work

Ranking: RANK() Write a query to list all countries along with their continent and the rank of their prime minister based on the start year (pm_start), ordered from the earliest to the latest. Use the RANK() window function to rank the prime ministers within each continent.

In [16]:
%%sql
SELECT pm.country, pm.continent, pmt.pm_start,
RANK() OVER (PARTITION BY pm.continent ORDER BY pmt.pm_start) AS pm_rank
FROM prime_ministers AS pm
INNER JOIN prime_minister_terms AS pmt
ON pm.prime_minister = pmt.prime_minister
ORDER BY pm_start;

 * sqlite://
Done.

[('Brunei', 'Asia', 1984, 1),
 ('India', 'Asia', 2014, 2),
 ('Portugal', 'Europe', 2015, 1),
 ('New Zealand', 'Oceania', 2017, 1),
 ('Egypt', 'Africa', 2018, 1),
 ('Australia', 'Oceania', 2018, 2),
 ('United Kingdom', 'Europe', 2019, 2),
 ('Oman', 'Asia', 2020, 3),
 ('Norway', 'Europe', 2021, 3),
 ('Pakistan', 'Asia', 2022, 4)]