<a href="https://colab.research.google.com/github/UznetDev/Data-science-home-work/blob/main/29_Avg_2024_home_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL Home work

## Set-up

In [1]:
# Set-up
%load_ext sql
%sql sqlite://

## Create table

In [4]:
%%sql
CREATE TABLE IF NOT EXISTS MESSAGES (
ID           integer      NOT NULL,
MESSAGE_ID   integer      NOT NULL,
USER_ID      varchar(10)  NOT NULL,
MESSAGE_TYPE varchar(10)  NOT NULL,
QUERY        varchar(40)  NOT NULL,
CREATED      timestamp    NOT NULL);

 * sqlite://
Done.

[]

## INSERT data

In [6]:
%%sql
INSERT INTO MESSAGES VALUES
(1,	111, 'user_1',	'REQUEST',	'привет', '2021-07-21 12:51:39.0000'),
(2,	222, 'user_2',	'REQUEST',	'перевод', '2021-07-21 12:52:03.0000'),
(3,	111, 'user_1',	'RESPONSE',	'Приветствую тебя!', '2021-07-21 12:52:48.0000'),
(4,	333, 'user_3',	'REQUEST',	'включи yputube', '2021-07-21 12:53:57.0000'),
(5,	444, 'user_1',	'REQUEST',	'как дела', '2021-07-21 13:05:13.0000');

 * sqlite://
5 rows affected.

[]

## Quiry

In [5]:
%%sql
WITH LastRequest AS (SELECT USER_ID, MESSAGE_ID, QUERY, CREATED, ROW_NUMBER() OVER (PARTITION BY USER_ID ORDER BY CREATED DESC) AS row_num
FROM MESSAGES
WHERE MESSAGE_TYPE = 'REQUEST')

SELECT lr.USER_ID, lr.MESSAGE_ID, lr.QUERY AS LAST_Request, res.QUERY AS Last_Response
FROM LastRequest lr
JOIN (
  SELECT MESSAGE_ID, QUERY
  FROM MESSAGES
  WHERE MESSAGE_TYPE = 'RESPONSE'
) res
ON lr.MESSAGE_ID = res.MESSAGE_ID
WHERE lr.row_num = 1
ORDER BY lr.USER_ID;

 * sqlite://
Done.

[]

In [7]:
%%sql
WITH LastRequest AS (
  SELECT USER_ID,
         MESSAGE_ID,
         QUERY,
         CREATED,
         ROW_NUMBER()
          OVER (
            PARTITION BY USER_ID
            ORDER BY CREATED DESC) AS row_num
FROM MESSAGES
WHERE MESSAGE_TYPE = 'REQUEST')

SELECT lr.USER_ID,
  lr.MESSAGE_ID,
  lr.QUERY AS LAST_Request,
  res.QUERY AS Last_Response
FROM LastRequest lr
JOIN (
  SELECT MESSAGE_ID, QUERY
  FROM MESSAGES
  WHERE MESSAGE_TYPE = 'RESPONSE'
) res
ON lr.MESSAGE_ID = res.MESSAGE_ID
WHERE lr.row_num = 1
ORDER BY lr.USER_ID;

 * sqlite://
Done.

[]