<a href="https://colab.research.google.com/github/UznetDev/Data-science-home-work/blob/main/29_Avg_2024_home_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Set-up
%load_ext sql
%sql sqlite://

In [2]:
%%sql
CREATE TABLE MESSAGES (
ID           integer      NOT NULL,
MESSAGE_ID   integer      NOT NULL,
USER_ID      varchar(10)  NOT NULL,
MESSAGE_TYPE varchar(10)  NOT NULL,
QUERY        varchar(40)  NOT NULL,
CREATED      timestamp    NOT NULL)
;

 * sqlite://
Done.

[]

In [3]:
%%sql
INSERT INTO MESSAGES VALUES
(1,	111, 'user_1',	'REQUEST',	'привет', '2021-07-21 12:51:39.0000'),
(2,	222, 'user_2',	'REQUEST',	'перевод', '2021-07-21 12:52:03.0000'),
(3,	111, 'user_1',	'RESPONSE',	'Приветствую тебя!', '2021-07-21 12:52:48.0000'),
(4,	333, 'user_3',	'REQUEST',	'включи yputube', '2021-07-21 12:53:57.0000'),
(5,	444, 'user_1',	'REQUEST',	'как дела', '2021-07-21 13:05:13.0000');

 * sqlite://
5 rows affected.

[]