<a href="https://colab.research.google.com/github/UznetDev/Data-science-home-work/blob/main/29_Avg_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SQL**

### Import librares

In [23]:
import pandas as pd

### Set-up for SQL

In [24]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

##### Load dataset

In [25]:
summer = pd.read_csv('summer.csv')

##### Upload dataset to SQL

In [26]:
%sql DROP TABLE IF EXISTS summer;
%sql --persist summer

 * sqlite://
Done.
 * sqlite://

'Persisted summer'

##### View all table

In [27]:
%%sql SELECT * FROM summer LIMIT 1;

 * sqlite://
Done.

[(0, 1896, 'Athens', 'Aquatics', 'Swimming', 'HAJOS Alfred', 'HUN', 'Men', '100M Freestyle', 'Gold')]

### Class work

#### Part 1 (*`OVER` Window function*)