<a href="https://colab.research.google.com/github/UznetDev/Data-science-home-work/blob/main/29_Avg_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SQL Window function 2**

### Import librares

In [3]:
import pandas as pd

### Set-up for SQL

In [4]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

##### Load dataset

In [5]:
summer = pd.read_csv('summer.csv')

##### Upload dataset to SQL

In [6]:
%sql DROP TABLE IF EXISTS summer;
%sql --persist summer

 * sqlite://
Done.
 * sqlite://

'Persisted summer'

##### View all table

In [7]:
%%sql SELECT * FROM summer LIMIT 1;

 * sqlite://
Done.

[(0, 1896, 'Athens', 'Aquatics', 'Swimming', 'HAJOS Alfred', 'HUN', 'Men', '100M Freestyle', 'Gold')]

### Class work

#### Part 1 (*`OVER` Window function*)

In [8]:
%%sql
WITH Country_Gold AS (
  SELECT
    DISTINCT Year, Country, Event
  FROM summer
  WHERE Year IN (2008, 2012)
  AND Country IN ('CHN', 'JPN')
  AND Gender='Women'
  AND Medal='Gold'
)

SELECT
  Year, Country, Event,
  ROW_NUMBER() OVER(PARTITION BY Year, Country) AS ROW_NUMBER
FROM Country_Gold;

 * sqlite://
Done.

[(2008, 'CHN', '10M Platform', 1),
 (2008, 'CHN', '3M Springboard', 2),
 (2008, 'CHN', 'Synchronized Diving 10M Platform', 3),
 (2008, 'CHN', 'Synchronized Diving 3M Springboard', 4),
 (2008, 'CHN', '200M Butterfly', 5),
 (2008, 'CHN', 'Individual (Fita Olympic Round - 70M)', 6),
 (2008, 'CHN', 'Doubles', 7),
 (2008, 'CHN', 'Singles', 8),
 (2008, 'CHN', 'Team Competition', 9),
 (2008, 'CHN', 'Uneven Bars', 10),
 (2008, 'CHN', 'Individual', 11),
 (2008, 'CHN', '+ 78KG (Heavyweight)', 12),
 (2008, 'CHN', '48 - 52KG (Half-Lightweight)', 13),
 (2008, 'CHN', '70 - 78KG (Half-Heavyweight)', 14),
 (2008, 'CHN', 'Quadruple Sculls Without Coxswain (4X)', 15),
 (2008, 'CHN', 'Rs:X - Windsurfer', 16),
 (2008, 'CHN', '10M Air Pistol (40 Shots)', 17),
 (2008, 'CHN', '25M Pistol (30+30 Shots)', 18),
 (2008, 'CHN', '50M Rifle 3 Positions (3X20 Shots)', 19),
 (2008, 'CHN', 'Team', 20),
 (2008, 'CHN', '- 49 KG', 21),
 (2008, 'CHN', '48KG', 22),
 (2008, 'CHN', '58KG', 23),
 (2008, 'CHN', '69KG', 24),
 (2008, 'CHN', '75KG', 25),
 (2008, 'CHN', '63 - 72KG', 26),
 (2008, 'JPN', '57 - 63KG (Half-Middleweight)', 1),
 (2008, 'JPN', '63 - 70KG (Middleweight)', 2),
 (2008, 'JPN', 'Softball', 3),
 (2008, 'JPN', '48 - 55KG', 4),
 (2008, 'JPN', '55 - 63KG', 5),
 (2012, 'CHN', '10M Platform', 1),
 (2012, 'CHN', '3M Springboard', 2),
 (2012, 'CHN', 'Synchronized 10M', 3),
 (2012, 'CHN', 'Synchronized 3M', 4),
 (2012, 'CHN', '200M Butterfly', 5),
 (2012, 'CHN', '200M Medley', 6),
 (2012, 'CHN', '400M Medley', 7),
 (2012, 'CHN', 'Doubles', 8),
 (2012, 'CHN', 'Singles', 9),
 (2012, 'CHN', 'Épée Team', 10),
 (2012, 'CHN', 'Beam', 11),
 (2012, 'CHN', 'Laser Radial', 12),
 (2012, 'CHN', '10M Air Pistol', 13),
 (2012, 'CHN', '10M Air Rifle', 14),
 (2012, 'CHN', 'Team', 15),
 (2012, 'CHN', '- 49 KG', 16),
 (2012, 'CHN', '+75KG', 17),
 (2012, 'CHN', '48KG', 18),
 (2012, 'CHN', '58KG', 19),
 (2012, 'JPN', '52 - 57KG', 1),
 (2012, 'JPN', 'Wf 48 KG', 2),
 (2012, 'JPN', 'Wf 55 KG', 3),
 (2012, 'JPN', 'Wf 63 KG', 4)]

In [9]:
%%sql
WITH hosts AS (
  SELECT
    DISTINCT Year, City
  FROM summer
)

SELECT Year, City
       LEAD(City) OVER(ORDER BY Year) AS next_yaer,
       LEAD(City, 2) OVER(ORDER BY Year) AS after_next_yaer
FROM hosts
ORDER BY Year;

 * sqlite://
(sqlite3.OperationalError) near "(": syntax error
[SQL: WITH hosts AS (
  SELECT
    DISTINCT Year, City
  FROM summer
)

SELECT Year, City
       LEAD(City) OVER(ORDER BY Year) AS next_yaer,
       LEAD(City, 2) OVER(ORDER BY Year) AS after_next_yaer
FROM hosts
ORDER BY Year;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [13]:
%%sql
WITH hosts AS (
  SELECT
    DISTINCT Year, City
  FROM summer
)

SELECT
  Year, City,
  FIRST_VALUE(City) OVER(
    ORDER BY Year
  ) AS first_cty,
  LAST_VALUE(City) OVER(
    ORDER BY Year
    RANGE BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
  ) AS last_cty

FROM hosts
ORDER BY Year;

 * sqlite://
Done.

[(1896, 'Athens', 'Athens', 'London'),
 (1900, 'Paris', 'Athens', 'London'),
 (1904, 'St Louis', 'Athens', 'London'),
 (1908, 'London', 'Athens', 'London'),
 (1912, 'Stockholm', 'Athens', 'London'),
 (1920, 'Antwerp', 'Athens', 'London'),
 (1924, 'Paris', 'Athens', 'London'),
 (1928, 'Amsterdam', 'Athens', 'London'),
 (1932, 'Los Angeles', 'Athens', 'London'),
 (1936, 'Berlin', 'Athens', 'London'),
 (1948, 'London', 'Athens', 'London'),
 (1952, 'Helsinki', 'Athens', 'London'),
 (1956, 'Melbourne / Stockholm', 'Athens', 'London'),
 (1960, 'Rome', 'Athens', 'London'),
 (1964, 'Tokyo', 'Athens', 'London'),
 (1968, 'Mexico', 'Athens', 'London'),
 (1972, 'Munich', 'Athens', 'London'),
 (1976, 'Montreal', 'Athens', 'London'),
 (1980, 'Moscow', 'Athens', 'London'),
 (1984, 'Los Angeles', 'Athens', 'London'),
 (1988, 'Seoul', 'Athens', 'London'),
 (1992, 'Barcelona', 'Athens', 'London'),
 (1996, 'Atlanta', 'Athens', 'London'),
 (2000, 'Sydney', 'Athens', 'London'),
 (2004, 'Athens', 'Athens', 'London'),
 (2008, 'Beijing', 'Athens', 'London'),
 (2012, 'London', 'Athens', 'London')]