# Download train.csv from kaggle titanic dataset: 
https://www.kaggle.com/competitions/titanic/overview

In [19]:
# Pandas Practice Exercises with Titanic Dataset
import pandas as pd
import numpy as np

In [20]:
# Load the dataset
df = pd.read_csv('train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [21]:

# Exercise 1: Display the first 5 rows of the dataset
first_five_rows = df.head()
# Assert
assert first_five_rows.shape[0] == 5, f"Expected 5 rows, but got {first_five_rows.shape[0]}"
first_five_rows.shape[0] == 5

True

In [22]:
# Exercise 2: Calculate the mean age of passengers
mean_age = df['Age'].sum() / df['Age'].count()
# Assert
expected_mean_age = df['Age'].mean()
assert np.isclose(mean_age, expected_mean_age), f"Expected {expected_mean_age}, but got {mean_age}"
np.isclose(mean_age, expected_mean_age)

True

In [23]:

# Exercise 3: Find the number of missing values in the 'Cabin' column
missing_cabin = len(df[df['Cabin'].isnull()])
# Assert
expected_missing_cabin = df['Cabin'].isnull().sum()
assert missing_cabin == expected_missing_cabin, f"Expected {expected_missing_cabin}, but got {missing_cabin}"
missing_cabin == expected_missing_cabin

True

In [24]:

# Exercise 4: Filter the DataFrame to include only female passengers
female_df = df[df['Sex'] == 'female']
# Assert
assert female_df['Sex'].unique() == ['female'], "DataFrame contains non-female passengers"
female_df['Sex'].unique() == ['female']

array([ True])

In [25]:

# Exercise 5: Calculate the survival rate (percentage) of passengers
survival_rate = (df['Survived'].sum() / df['Survived'].count()) * 100
# Assert
expected_survival_rate = (df['Survived'].mean()) * 100
assert np.isclose(survival_rate, expected_survival_rate), f"Expected {expected_survival_rate}, but got {survival_rate}"
np.isclose(survival_rate, expected_survival_rate)

True

In [26]:

# Exercise 6: Create a new column 'FamilySize' as the sum of 'SibSp' and 'Parch'
df['FamilySize'] = df.agg(lambda row: row['SibSp'] + row['Parch'], axis=1)
# Assert
expected_family_size = df['SibSp'] + df['Parch']
assert df['FamilySize'].equals(expected_family_size), "Column 'FamilySize' not created correctly"
df['FamilySize'].equals(expected_family_size)

True

In [27]:

# Exercise 8: Calculate the mean fare for each class (Pclass)
mean_fare_by_class = df.pivot_table(values='Fare', index='Pclass').to_dict()['Fare']  # Calculate mean fare by class
# Assert
expected_mean_fare_by_class = df.groupby('Pclass')['Fare'].mean().to_dict()
assert mean_fare_by_class == expected_mean_fare_by_class, f"Expected {expected_mean_fare_by_class}, but got {mean_fare_by_class}"
mean_fare_by_class == expected_mean_fare_by_class

True

In [28]:

# Exercise 9: Sort the DataFrame by 'Age' in ascending order
sorted_by_age_df = df.set_index(keys='Age').sort_index().reset_index()
# Assert
expected_sorted_names_by_age = df.sort_values(by='Age')['Name'].tolist()
assert sorted_by_age_df['Name'].tolist() == expected_sorted_names_by_age, "DataFrame not sorted correctly by age"
sorted_by_age_df['Name'].tolist() == expected_sorted_names_by_age

True

In [29]:

# Exercise 10: Reset the index of the sorted DataFrame
reset_sorted_by_age_df = df  # Reset index
# Assert
assert reset_sorted_by_age_df.index.tolist() == list(range(df.shape[0])), f"Index not reset correctly"
reset_sorted_by_age_df.index.tolist() == list(range(df.shape[0]))

True

In [30]:

# Exercise 11: Find the unique values in the 'Pclass' column
unique_pclass_values = df.drop_duplicates('Pclass')['Pclass']  # Find unique values
# Assert
expected_unique_pclass_values = df['Pclass'].unique()
assert np.array_equal(unique_pclass_values, expected_unique_pclass_values), f"Expected {expected_unique_pclass_values}, but got {unique_pclass_values}"
np.array_equal(unique_pclass_values, expected_unique_pclass_values)

True

In [31]:
# Exercise 12: Filter passengers older than 30
older_than_30_df = df[df['Age'] > 30]
# Assert
assert older_than_30_df['Age'].min() > 30, "DataFrame contains passengers 30 or younger"
older_than_30_df['Age'].min() > 30

True

In [32]:
# Exercise 13: Create a pivot table with 'Pclass' as rows and 'Survived' as values, calculating the mean survival rate per class
pivot_table_survival = df.groupby('Pclass')['Survived'].mean().to_dict()
# Assert
expected_pivot_table_survival = df.pivot_table(values='Survived', index='Pclass', aggfunc='mean').to_dict()['Survived']
assert pivot_table_survival == expected_pivot_table_survival, f"Expected {expected_pivot_table_survival}, but got {pivot_table_survival}"
pivot_table_survival == expected_pivot_table_survival

True

In [33]:
# Exercise 14: Calculate the standard deviation of the 'Fare' column
mn = df['Fare'].mean()
n = df['Fare'].count()
re = sum((df['Fare'] - mn) ** 2) / (n - 1)
fare_std = re ** 0.5  # Calculate standard deviation
# Assert
expected_fare_std = df['Fare'].std()
assert np.isclose(fare_std, expected_fare_std), f"Expected {expected_fare_std}, but got {fare_std}"
np.isclose(fare_std, expected_fare_std)

True

In [34]:
# Exercise 15: Add a row for a new passenger with the following details: 
# Name: 'Test Passenger', Pclass: 3, Age: 25, SibSp: 0, Parch: 0, Ticket: '0000', Fare: 7.25, Cabin: 'E50', Embarked: 'S'
new_passenger = pd.DataFrame([{
    'PassengerId': df['PassengerId'].max() + 1,
    'Survived': 0,
    'Pclass': 3,
    'Name': 'Test Passenger',
    'Sex': 'male',
    'Age': 25,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': '0000',
    'Fare': 7.25,
    'Cabin': 'E50',
    'Embarked': 'S'
}])
df = pd.concat([df, new_passenger], ignore_index=True)  # Add new passenger
# Assert
assert df.iloc[-1]['Name'] == 'Test Passenger', "New passenger not added correctly"
df.iloc[-1]['Name'] == 'Test Passenger'

True

In [35]:


# Exercise 16: Calculate the correlation matrix of the DataFrame
number = df.select_dtypes(include=['number'])
correlation_matrix = number.corr(method='kendall')  # Calculate correlation matrix
# Assert
assert correlation_matrix is not None, "Correlation matrix is None"

# Exercise 17: Filter the DataFrame for passengers who paid a fare greater than 100
high_fare_df = df[df['Fare'] > 100]  # Filter high fare passengers
# Assert
assert high_fare_df['Fare'].min() > 100, "DataFrame contains passengers who paid 100 or less"

# Exercise 18: Calculate the average age of passengers for each embarkation point
average_age_by_embarkation = df.pivot_table(index='Embarked', values='Age').to_dict()['Age']  # Calculate average age by embarkation
# Assert
expected_average_age_by_embarkation = df.groupby('Embarked')['Age'].mean().to_dict()
assert average_age_by_embarkation == expected_average_age_by_embarkation, f"Expected {expected_average_age_by_embarkation}, but got {average_age_by_embarkation}"

# Exercise 19: Find the number of passengers in each class
passenger_count_by_class = df.groupby('Pclass').count()['PassengerId'].to_dict()  # Find number of passengers in each class
# Assert
expected_passenger_count_by_class = df['Pclass'].value_counts().to_dict()
assert passenger_count_by_class == expected_passenger_count_by_class, f"Expected {expected_passenger_count_by_class}, but got {passenger_count_by_class}"

# Exercise 20: Create a new column 'AgeGroup' categorizing passengers as 'Child' (<18), 'Adult' (18-60), 'Senior' (>60)
def categorize_age(age):
    if age < 18:
        return 'Child'
    elif age <= 60:
        return 'Adult'
    else:
        return 'Senior'

df['AgeGroup'] = df['Age'].agg(categorize_age)  # Create new column
# Assert
expected_age_groups = df['Age'].apply(categorize_age).tolist()
assert df['AgeGroup'].tolist() == expected_age_groups, "Column 'AgeGroup' not created correctly"
df['AgeGroup'].tolist() == expected_age_groups

/tmp/ipykernel_8744/86987732.py:33: FutureWarning: using <function categorize_age at 0x711461ee9b40> in Series.agg cannot aggregate and has been deprecated. Use Series.transform to keep behavior unchanged.
  df['AgeGroup'] = df['Age'].agg(categorize_age)  # Create new column

True